/* Fonts */
/* Colors */
/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
/*
 * Use 5 grid columns for larger screens.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_lt-ie9\.scss}line{font-family:\0000319}}
img {
  width: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_lt-ie9\.scss}line{font-family:\0000323}}
.lt-ie9 #logo {
  float: left;
  width: 16.66667%;
  margin-left: 0%;
  margin-right: -16.66667%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_lt-ie9\.scss}line{font-family:\0000328}}
.lt-ie9 #block-views-exp-search-panel-pane-1 {
  float: left;
  width: 16.66667%;
  margin-left: 66.66667%;
  margin-right: -83.33333%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  padding: 0;
  margin-bottom: -20px;
  margin-top: -30px;
  height: 25px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_lt-ie9\.scss}line{font-family:\0000335}}
.lt-ie9 #block-views-exp-search-panel-pane-1 input {
  width: 100%;
  margin-left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_lt-ie9\.scss}line{font-family:\0000340}}
.lt-ie9 #block-views-exp-search-panel-pane-1 .form-submit {
  position: relative;
  top: -37px;
  right: -100%;
  margin-bottom: -18px;
  margin: 12px;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_lt-ie9\.scss}line{font-family:\0000350}}
.lt-ie9 #secondary-menu {
  float: left;
  width: 58.33333%;
  margin-left: 12.5%;
  margin-right: -70.83333%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_lt-ie9\.scss}line{font-family:\0000353}}
.lt-ie9 #secondary-menu li {
  padding: 5px 2.8%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_lt-ie9\.scss}line{font-family:\0000357}}
.lt-ie9 #secondary-menu li.last {
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_lt-ie9\.scss}line{font-family:\0000362}}
.lt-ie9 .pane-views-viewbook-block {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  clear: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_lt-ie9\.scss}line{font-family:\0000366}}
.lt-ie9 .pane-views-viewbook-block .views-field-body .field-content {
  float: left;
  width: 62.5%;
  margin-left: 31.66667%;
  margin-right: -94.16667%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_lt-ie9\.scss}line{font-family:\0000372}}
.lt-ie9 .pane-mission-respondable-front-buttons-front-buttons {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  clear: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_lt-ie9\.scss}line{font-family:\0000376}}
.lt-ie9 .pane-mission-respondable-front-buttons-front-buttons .button-link {
  float: left;
  width: 31.66667%;
  margin-left: 34.16667%;
  margin-right: -65.83333%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_lt-ie9\.scss}line{font-family:\0000379}}
.lt-ie9 .pane-mission-respondable-front-buttons-front-buttons .button-link.first {
  float: left;
  width: 31.66667%;
  margin-left: 0%;
  margin-right: -31.66667%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_lt-ie9\.scss}line{font-family:\0000381}}
.lt-ie9 .pane-mission-respondable-front-buttons-front-buttons .button-link.first:hover {
  float: left;
  width: 31.66667%;
  margin-left: 0%;
  margin-right: -31.66667%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_lt-ie9\.scss}line{font-family:\0000386}}
.lt-ie9 .pane-mission-respondable-front-buttons-front-buttons .button-link.last {
  float: left;
  width: 31.66667%;
  margin-left: 68.33333%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_lt-ie9\.scss}line{font-family:\0000388}}
.lt-ie9 .pane-mission-respondable-front-buttons-front-buttons .button-link.last:hover {
  float: left;
  width: 31.66667%;
  margin-left: 68.33333%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_lt-ie9\.scss}line{font-family:\0000393}}
.lt-ie9 .pane-mission-respondable-front-buttons-front-buttons .button-link:hover {
  float: left;
  width: 31.66667%;
  margin-left: 34.16667%;
  margin-right: -65.83333%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_lt-ie9\.scss}line{font-family:\0000399}}
.lt-ie9 .pane-views-testimonial-block {
  float: left;
  width: 96.66667%;
  margin-left: 1.66667%;
  margin-right: -98.33333%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  clear: left;
  margin-top: 25px;
  padding: 0;
  background-color: #F7F4DE;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_lt-ie9\.scss}line{font-family:\00003106}}
.lt-ie9 .pane-views-testimonial-block .views-field-field-testimonial-image {
  float: left;
  width: 58.33333%;
  margin-left: 0%;
  margin-right: -58.33333%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  line-height: 0;
  margin-bottom: -180px;
  margin-top: -1px;
  padding-left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_lt-ie9\.scss}line{font-family:\00003116}}
.lt-ie9 .pane-views-testimonial-block .testimonial-title,
.lt-ie9 .pane-views-testimonial-block .testimonial-body,
.lt-ie9 .pane-views-testimonial-block .testimonial-path {
  float: left;
  width: 41.66667%;
  margin-left: 56.66667%;
  margin-right: -98.33333%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  clear: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_lt-ie9\.scss}line{font-family:\00003125}}
.lt-ie9 .pane-views-featured-news-block {
  float: left;
  width: 59.16667%;
  margin-left: 1.66667%;
  margin-right: -60.83333%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  clear: left;
  margin-top: 25px;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_lt-ie9\.scss}line{font-family:\00003131}}
.lt-ie9 .pane-views-featured-news-block .views-field-field-news-image {
  padding-bottom: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_lt-ie9\.scss}line{font-family:\00003136}}
.lt-ie9 .panel-pane.events {
  float: left;
  width: 35.0%;
  margin-left: 63.33333%;
  margin-right: -98.33333%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-top: 25px;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_lt-ie9\.scss}line{font-family:\00003145}}
.lt-ie9 #block-mission-respondable-footer-footer-contact {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  clear: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_lt-ie9\.scss}line{font-family:\00003150}}
.lt-ie9 #block-menu-menu-footer-navigation {
  float: left;
  width: 100%;
  margin-left: -5%;
  margin-right: -95.0%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  clear: left;
  margin-top: -115px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_lt-ie9\.scss}line{font-family:\00003156}}
.lt-ie9 .section-news .top {
  float: right;
  width: 64.16667%;
  margin-right: 0%;
  margin-left: -64.16667%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_lt-ie9\.scss}line{font-family:\00003160}}
.lt-ie9 .section-news .middle {
  float: left;
  width: 16.66667%;
  margin-left: 0%;
  margin-right: -16.66667%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_lt-ie9\.scss}line{font-family:\00003164}}
.lt-ie9 .l-wrapper {
  background-color: #004538;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #015b4a), color-stop(90%, #004538));
  background-image: -webkit-linear-gradient(#015b4a, #004538 90%);
  background-image: -moz-linear-gradient(#015b4a, #004538 90%);
  background-image: -o-linear-gradient(#015b4a, #004538 90%);
  background-image: linear-gradient(#015b4a, #004538 90%);
  height: auto;
  margin-bottom: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_lt-ie9\.scss}line{font-family:\00003176}}
.lt-ie9 .l-wrapper ul {
  position: relative;
  left: 17%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_lt-ie9\.scss}line{font-family:\00003181}}
.lt-ie9 .l-wrapper li {
  list-style: none;
  height: 27px;
  float: left;
  padding: 5px 1%;
  border-right: 1px solid #062A21;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_lt-ie9\.scss}line{font-family:\00003189}}
.lt-ie9 .l-wrapper li a {
  text-decoration: none;
  color: #e5dea8;
  font-family: "Copperplate Gothic Bold", "Copperplate Gothic Light", Copperplate, "kelvingrove-1", "kelvingrove-2", serif;
  font-style: normal;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .88px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_lt-ie9\.scss}line{font-family:\00003199}}
.lt-ie9 .block-search {
  position: absolute;
  top: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_lt-ie9\.scss}line{font-family:\00003204}}
.lt-ie9 .oversized-text {
  position: relative;
  top: -10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_lt-ie9\.scss}line{font-family:\00003211}}
.lt-ie9 .node-type-news .field-name-field-news-author, .lt-ie9 .node-type-news .field-name-field-news-published,
.lt-ie9 .node-type-testimonial .field-name-field-testimonial-major,
.lt-ie9 .node-type-testimonial .field-name-field-testimonial-grad-year {
  background-image: url("../images/cream.png");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_lt-ie9\.scss}line{font-family:\00003215}}
.lt-ie9 .node-type-news .title, .lt-ie9 .node-type-testimonial .title {
  background-image: url("../images/green.png");
}

@media all and (max-width: 650px) {
  /*
   * Use 3 grid columns for smaller screens.
   */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_testimonials\.scss}line{font-family:\000039}}
  .html .testimonial {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    clear: left;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_testimonials\.scss}line{font-family:\0000315}}
  .html .testimonial .testimonial-title,
  .html .testimonial .testimonial-body,
  .html .testimonial .testimonial-path {
    float: left;
    width: 95.0%;
    margin-left: 3.33333%;
    margin-right: -98.33333%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    clear: left;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_testimonials\.scss}line{font-family:\0000320}}
  .html .testimonial img {
    margin: 0 auto;
    text-align: center;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_testimonials\.scss}line{font-family:\0000326}}
  .html.section-testimonials #content {
    margin-top: 30px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_testimonials\.scss}line{font-family:\0000330}}
  .html.node-type-testimonial .masthead {
    top: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_testimonials\.scss}line{font-family:\0000334}}
  .html.node-type-testimonial .title {
    top: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_testimonials\.scss}line{font-family:\0000338}}
  .html.node-type-testimonial .field-name-field-testimonial-grad-year {
    margin-bottom: 0;
  }
}
@media all and (min-width: 651px) and (max-width: 959px) {
  /*
   * Use 5 grid columns for smaller screens.
   */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_testimonials\.scss}line{font-family:\0000350}}
  .html .testimonial {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    clear: left;
    background-color: #F7F4DE;
    margin-top: 25px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_testimonials\.scss}line{font-family:\0000356}}
  .html .testimonial img {
    float: left;
    width: 60%;
    margin-left: 0%;
    margin-right: -60%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    line-height: 0;
    margin-bottom: -180px;
    margin-top: -1px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_testimonials\.scss}line{font-family:\0000365}}
  .html .testimonial .testimonial-title,
  .html .testimonial .testimonial-body,
  .html .testimonial .testimonial-path {
    float: left;
    width: 40%;
    margin-left: 56%;
    margin-right: -96%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    clear: left;
  }
}
@media all and (min-width: 960px) {
  /*
   * Use 12 grid columns for larger screens.
   */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_testimonials\.scss}line{font-family:\0000379}}
  .html .testimonial {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    clear: left;
    background-color: #F7F4DE;
    margin-top: 25px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_testimonials\.scss}line{font-family:\0000385}}
  .html .testimonial img {
    float: left;
    width: 58.33333%;
    margin-left: 0%;
    margin-right: -58.33333%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    line-height: 0;
    margin-bottom: -180px;
    margin-top: -1px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_testimonials\.scss}line{font-family:\0000394}}
  .html .testimonial .testimonial-title,
  .html .testimonial .testimonial-body,
  .html .testimonial .testimonial-path {
    float: left;
    width: 41.66667%;
    margin-left: 56.66667%;
    margin-right: -98.33333%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    clear: left;
  }
}
@media all and (max-width: 650px) {
  /*
   * Use 3 grid columns for smaller screens.
   */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_events\.scss}line{font-family:\000039}}
  .html .panel-pane.events {
    clear: left;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    margin-top: 25px;
  }
}
@media all and (min-width: 651px) and (max-width: 959px) {
  /*
   * Use 5 grid columns for smaller screens.
   */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_events\.scss}line{font-family:\0000324}}
  .html .panel-pane.events {
    float: left;
    width: 36%;
    margin-left: 64%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    margin-top: 25px;
  }
}
@media all and (min-width: 960px) {
  /*
   * Use 12 grid columns for larger screens.
   */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_events\.scss}line{font-family:\0000336}}
  .html .panel-pane.events {
    float: left;
    width: 36.66667%;
    margin-left: 63.33333%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    margin-top: 25px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_events\.scss}line{font-family:\0000344}}
.view-events .views-row {
  display: table;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_events\.scss}line{font-family:\0000349}}
.view-events .views-field-title,
.view-events .views-field-nothing {
  display: table-cell;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_events\.scss}line{font-family:\0000356}}
.events {
  background-color: #F7F4DE;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_events\.scss}line{font-family:\0000359}}
.events br {
  line-height: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_events\.scss}line{font-family:\0000363}}
.events .views-row {
  margin: 10px;
  border-top: 1px solid #056553;
  padding: 15px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_events\.scss}line{font-family:\0000368}}
.events .views-row.views-row-first {
  margin-top: 0;
  border-top: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_events\.scss}line{font-family:\0000374}}
.events .date_day {
  font-family: "myriad-pro-condensed-1", "myriad-pro-condensed-2", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  color: #007161;
  margin-left: 10px;
  line-height: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_events\.scss}line{font-family:\0000382}}
.events .date_month {
  font-family: "Copperplate Gothic Bold", "Copperplate Gothic Light", Copperplate, "kelvingrove-1", "kelvingrove-2", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #007161;
  margin-left: 10px;
  line-height: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_events\.scss}line{font-family:\0000390}}
.events .date_time {
  font-family: "myriad-pro-condensed-1", "myriad-pro-condensed-2", sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 12px;
  color: #007161;
  line-height: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_events\.scss}line{font-family:\0000396}}
.events .date_time .date-display-single {
  margin-left: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_events\.scss}line{font-family:\00003100}}
.events .date_time .date-display-start {
  margin-left: -15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_events\.scss}line{font-family:\00003105}}
.events .views-field-nothing {
  float: left;
  width: 75px;
  margin-top: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_events\.scss}line{font-family:\00003111}}
.events .views-field-title {
  font-family: "myriad-pro-condensed-1", "myriad-pro-condensed-2", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  color: #575757;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdracars\/Dropbox\/ubuntu64-lucid\/www\/drupal\/profiles\/d7_usao_edu\/themes\/mission_respondable\/sass\/partials\/_events\.scss}line{font-family:\00003117}}
.events .views-field-title a {
  color: #575757;
  text-decoration: none;
}
