/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/*
 * Body
 */
/* line 17, ../sass/pages.scss */
body {
  margin: 0;
  padding: 0;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
/* line 30, ../sass/pages.scss */
#skip-link {
  margin: 0;
}
/* line 34, ../sass/pages.scss */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
/* line 51, ../sass/pages.scss */
#logo {
  /* Wrapping link for logo */
  float: left;
  /* LTR */
  margin: 0;
  padding: 0;
}
/* line 56, ../sass/pages.scss */
#logo img {
  vertical-align: bottom;
}

/* line 61, ../sass/pages.scss */
#name-and-slogan {
  /* Wrapper for website name and slogan */
  float: left;
}

/* line 65, ../sass/pages.scss */
#site-name {
  /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}
/* line 71, ../sass/pages.scss */
#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}
/* line 77, ../sass/pages.scss */
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

/* line 82, ../sass/pages.scss */
#site-slogan {
  /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

/* line 87, ../sass/pages.scss */
.region-header {
  /* Wrapper for any blocks placed in the header region */
  clear: both;
  /* Clear the logo */
}

/*
 * Main (container for everything else)
 */
/*
 * Content
 */
/* line 108, ../sass/pages.scss */
.breadcrumb {
  /* The path to the current page in the form of a list of links */
}
/* line 109, ../sass/pages.scss */
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
/* line 113, ../sass/pages.scss */
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 126, ../sass/pages.scss */
h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  /* Comment title */
  margin: 0;
}

/* line 130, ../sass/pages.scss */
tr.even {
  /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 134, ../sass/pages.scss */
tr.odd {
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 138, ../sass/pages.scss */
div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0;
  /* Drupal core uses "6px 0" margin */
}
/* line 141, ../sass/pages.scss */
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 147, ../sass/pages.scss */
div.status {
  /* Normal priority messages */
}

/* line 151, ../sass/pages.scss */
div.warning,
tr.warning {
  /* Medium priority messages */
  /* border: 1px solid #f0c020; */
  /* Drupal core uses: 1px solid #f0c020 */
}

/* line 156, ../sass/pages.scss */
div.error,
tr.error {
  /* High priority messages. See also the .error declaration below. */
}

/* line 159, ../sass/pages.scss */
.error {
  /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */
  /* Drupal core uses a #e55 background */
}

/* line 163, ../sass/pages.scss */
.warning {
  /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */
  /* Drupal core uses a #e09010 background */
}

/* line 167, ../sass/pages.scss */
.tabs {
  /* See also the tabs.css file. */
}

/* line 170, ../sass/pages.scss */
.region-help {
  /* Help text on a page */
}

/* line 173, ../sass/pages.scss */
.more-help-link {
  /* Link to more help */
}

/* line 176, ../sass/pages.scss */
.region-content {
  /* Wrapper for the actual page content */
}

/* line 179, ../sass/pages.scss */
ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
/* line 183, ../sass/pages.scss */
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 189, ../sass/pages.scss */
span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 193, ../sass/pages.scss */
.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
/* line 196, ../sass/pages.scss */
.item-list .pager li {
  /* Each page number in the pager list */
  padding: 0 0.5em;
}

/* line 201, ../sass/pages.scss */
.feed-icon {
  /* The link to the RSS or Atom feed for the current list of content */
}

/* line 204, ../sass/pages.scss */
.more-link {
  /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
/*
 * Footer
 */
/*
 * Page bottom
 */
/* line 238, ../sass/pages.scss */
.region-bottom {
  /* Wrapper for any blocks placed in the page bottom region */
}

/* Custom Css*/
/* Fonts */
/* Colors */
/* Configs */
/* line 289, ../sass/pages.scss */
html {
  background: url("../images/pretties.png") no-repeat top center #083228;
}

/* line 293, ../sass/pages.scss */
#block-menu-menu-header-navigation li {
  list-style: none;
  height: 27px;
  float: left;
  padding: 5px 20px;
  border-right: 1px solid #062A21;
}

/* line 301, ../sass/pages.scss */
#block-menu-menu-header-navigation li a {
  text-decoration: none;
  color: #e5dea8;
  font-family: "Copperplate Gothic Bold", "Copperplate Gothic Light", Copperplate, "kelvingrove-1", "kelvingrove-2", serif;
  font-style: normal;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .88px;
}

/* line 311, ../sass/pages.scss */
#header {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #015b4a), color-stop(90%, #004538));
  background-image: -webkit-linear-gradient(#015b4a, #004538 90%);
  background-image: -moz-linear-gradient(#015b4a, #004538 90%);
  background-image: -o-linear-gradient(#015b4a, #004538 90%);
  background-image: -ms-linear-gradient(#015b4a, #004538 90%);
  background-image: linear-gradient(#015b4a, #004538 90%);
  height: auto;
  margin-bottom: 0;
}

/* line 317, ../sass/pages.scss */
.region-header {
  clear: none;
}

/* line 321, ../sass/pages.scss */
#block-menu-menu-header-navigation ul {
  margin: 0;
}

/* line 325, ../sass/pages.scss */
#block-menu-menu-header-navigation.block {
  margin: 0;
}

/* line 329, ../sass/pages.scss */
#logo {
  padding: 5px 20px;
  border-right: 1px solid #062A21;
}

/* line 334, ../sass/pages.scss */
#block-search-form {
  padding-left: 20px;
}

/* line 338, ../sass/pages.scss */
#block-search-form.block {
  margin-bottom: -10px;
}

/* line 342, ../sass/pages.scss */
input.custom-search-default-value {
  margin-left: 20px;
  border-radius: 3px 0 0 3px;
  background-color: #EAE6CD;
  border: none;
  height: 23px;
  padding-left: 10px;
}

/* line 351, ../sass/pages.scss */
#block-search-form .form-submit {
  height: 25px;
  max-width: 100%;
  width: 25px;
  padding-top: 12px;
  margin: -6px -6px;
}

/* line 359, ../sass/pages.scss */
#navigation {
  font-family: "myriad-pro-condensed-1", "myriad-pro-condensed-2", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 25.5px;
  text-transform: uppercase;
  color: #007161;
  margin-top: 225px;
}

/* line 369, ../sass/pages.scss */
#navigation li a {
  color: white;
  text-decoration: none;
  text-shadow: -2px 2px 2px black;
  padding-left: 12px;
}

/* line 376, ../sass/pages.scss */
#navigation ul.links li.last {
  background-color: #FFD457;
  margin-left: 15px;
  box-shadow: -2px 2px 2px black;
  padding: 0;
}

/* line 383, ../sass/pages.scss */
#navigation li.last a {
  color: #007161;
  padding: 0 10px 0 10px;
  margin: 0;
  text-shadow: none;
}

/* line 390, ../sass/pages.scss */
hgroup {
  display: none;
}

/* line 394, ../sass/pages.scss */
.flexslider {
  background: #0A4436;
  border: 5px #0A4436 solid;
  border-radius: 0;
  margin-bottom: 0;
}

/* line 401, ../sass/pages.scss */
.flex-control-nav {
  top: -65px;
  left: -15px;
  position: relative;
  width: 16%;
}

/* line 408, ../sass/pages.scss */
.flex-control-nav li {
  display: inline-block;
  margin: 0 2px;
}

/* line 413, ../sass/pages.scss */
.flex-control-paging li a {
  background: none repeat scroll 0 0 #0A4436;
  border: 2px solid #E5DEA8;
  border-radius: 20px 20px 20px 20px;
  box-shadow: none;
  cursor: pointer;
  display: block;
  height: 11px;
  text-indent: -9999px;
  width: 11px;
}

/* line 425, ../sass/pages.scss */
.flex-control-paging li a.flex-active {
  background: none repeat scroll 0 0 #EDC551;
  cursor: default;
  box-shadow: inset -2px 1px 2px gray;
}

/* line 431, ../sass/pages.scss */
.flexslider .views-field-body {
  display: inline-block;
  padding-top: 7px;
}

/* line 436, ../sass/pages.scss */
.flexslider .views-field-body span.views-label {
  font-family: "Copperplate Gothic Bold", "Copperplate Gothic Light", Copperplate, "kelvingrove-1", "kelvingrove-2", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  text-transform: uppercase;
  color: #E5DEA8;
  padding: 17px 16px;
  letter-spacing: 2px;
  border-right: 2px solid #E5DEA8;
  position: absolute;
  margin-top: 9px;
}

/* line 448, ../sass/pages.scss */
.flexslider .views-field-body .field-content {
  display: inline-block;
  color: #F9E08E;
  font-size: 14px;
  width: 54%;
  height: 71px;
  position: relative;
  margin-left: 260px;
  font-family: "myriad-pro-1", "myriad-pro-2", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* line 459, ../sass/pages.scss */
.flexslider .views-field-body .field-content p {
  margin: 0;
}

/* line 463, ../sass/pages.scss */
.button-link {
  margin-top: 15px;
  padding: 32px 0 0;
  list-style: none;
}

/* line 469, ../sass/pages.scss */
.pane-mission-respondable-front-buttons-front-buttons {
  margin-top: -5px;
}

/* line 473, ../sass/pages.scss */
.button-link {
  color: #FFD457;
  text-align: center;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #015b4a), color-stop(90%, #004538));
  background-image: -webkit-linear-gradient(#015b4a, #004538 90%);
  background-image: -moz-linear-gradient(#015b4a, #004538 90%);
  background-image: -o-linear-gradient(#015b4a, #004538 90%);
  background-image: -ms-linear-gradient(#015b4a, #004538 90%);
  background-image: linear-gradient(#015b4a, #004538 90%);
  text-decoration: none;
  width: 181px;
  height: 45px;
  padding-top: 20px;
  margin-right: 26px;
  display: inline-block;
}
/* line 484, ../sass/pages.scss */
.button-link.last {
  margin-right: 0;
}

/* line 491, ../sass/pages.scss */
.button-link:hover {
  border: 2px solid #FFD457;
  width: 177px;
  height: 43px;
  padding-top: 16px;
}

/* line 498, ../sass/pages.scss */
.oversized-text {
  text-transform: uppercase;
  font-size: 32px;
  font-family: "myriad-pro-condensed-1", "myriad-pro-condensed-2", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* line 504, ../sass/pages.scss */
.pane-views-testimonial-block .pane-title {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #015b4a), color-stop(90%, #004538));
  background-image: -webkit-linear-gradient(#015b4a, #004538 90%);
  background-image: -moz-linear-gradient(#015b4a, #004538 90%);
  background-image: -o-linear-gradient(#015b4a, #004538 90%);
  background-image: -ms-linear-gradient(#015b4a, #004538 90%);
  background-image: linear-gradient(#015b4a, #004538 90%);
  line-height: 1.8em;
  margin-bottom: -4px;
  position: relative;
  top: -5px;
  height: 38px;
  margin-top: 30px;
}

/* line 514, ../sass/pages.scss */
.pane-views-testimonial-block .pane-title a {
  color: #E5DEA8;
  text-decoration: none;
  padding-left: 25px;
  letter-spacing: 2px;
  font-size: 16px;
  font-family: "Copperplate Gothic Bold", "Copperplate Gothic Light", Copperplate, "kelvingrove-1", "kelvingrove-2", serif;
  font-weight: 400;
  font-style: normal;
}

/* line 523, ../sass/pages.scss */
.pane-views-testimonial-block .view-content div {
  float: left;
  background-color: #F7F4DE;
  max-height: 177px;
}
/* line 528, ../sass/pages.scss */
.pane-views-testimonial-block .view-content div.bqstart, .pane-views-testimonial-block .view-content div.bqend {
  float: none;
  display: inline;
  font-family: "myriad-pro-1", "myriad-pro-2", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* line 535, ../sass/pages.scss */
.pane-views-testimonial-block .views-field-title {
  margin-top: 5px;
  padding-bottom: 2px;
}

/* line 540, ../sass/pages.scss */
.pane-views-testimonial-block .views-field-title a {
  color: #007161;
  text-decoration: none;
  padding-left: 25px;
  font-size: 14px;
  font-family: "myriad-pro-1", "myriad-pro-2", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* line 548, ../sass/pages.scss */
.not-logged-in .pane-views-testimonial-block .views-field-edit-node {
  display: none;
}

/* line 552, ../sass/pages.scss */
.pane-views-testimonial-block .views-field-edit-node {
  position: absolute;
  top: 0;
  right: 0;
  padding: 14px;
}

/* line 559, ../sass/pages.scss */
.pane-views-testimonial-block .views-field-body {
  width: 245px;
  padding-left: 25px;
  font-size: 17px;
  font-family: "myriad-pro-condensed-1", "myriad-pro-condensed-2", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 700;
}

/* line 566, ../sass/pages.scss */
.pane-views-testimonial-block .views-field-path a {
  color: #007161;
  text-decoration: none;
  padding-left: 25px;
  font-family: "myriad-pro-1", "myriad-pro-2", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 700;
}

/* line 573, ../sass/pages.scss */
.pane-views-featured-news-block {
  background-color: #F7F4DE;
}

/* line 577, ../sass/pages.scss */
.pane-views-featured-news-block .pane-title {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #015b4a), color-stop(90%, #004538));
  background-image: -webkit-linear-gradient(#015b4a, #004538 90%);
  background-image: -moz-linear-gradient(#015b4a, #004538 90%);
  background-image: -o-linear-gradient(#015b4a, #004538 90%);
  background-image: -ms-linear-gradient(#015b4a, #004538 90%);
  background-image: linear-gradient(#015b4a, #004538 90%);
  font-family: "Copperplate Gothic Bold", "Copperplate Gothic Light", Copperplate, "kelvingrove-1", "kelvingrove-2", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.8em;
  margin-bottom: -4px;
  position: relative;
  top: -5px;
  height: 38px;
  margin-top: 208px;
  clear: both;
}

/* line 589, ../sass/pages.scss */
.pane-views-featured-news-block .pane-title a {
  color: #E5DEA8;
  text-decoration: none;
  padding-left: 25px;
  letter-spacing: 2px;
  font-size: 16px;
  font-family: "Copperplate Gothic Bold", "Copperplate Gothic Light", Copperplate, "kelvingrove-1", "kelvingrove-2", serif;
  font-weight: 400;
  font-style: normal;
}

/* line 598, ../sass/pages.scss */
.view-featured-news ul li {
  border-bottom: 1px solid #DBD6AE;
  margin-top: 15px;
  padding-bottom: 20px;
  list-style: none;
}

/* line 605, ../sass/pages.scss */
.view-featured-news li div {
  display: inline;
}

/* line 609, ../sass/pages.scss */
.view-featured-news .views-field-field-news-image {
  margin-left: -5px;
}

/* line 613, ../sass/pages.scss */
.view-featured-news .views-field-title {
  display: table;
  height: 95px;
  width: 62%;
  margin-left: 34%;
  margin-top: -105px;
}

/* line 621, ../sass/pages.scss */
.view-featured-news .views-field-title span {
  display: table-cell;
  vertical-align: middle;
}

/* line 626, ../sass/pages.scss */
.view-featured-news .views-field-title span a {
  text-decoration: none;
  font-family: "myriad-pro-1", "myriad-pro-2", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 600;
  color: #007161;
  font-size: 16px;
}
