/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/*
 * Body
 */
/* line 16, ../sass/pages.scss */
body {
  margin: 0;
  padding: 0;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
/* line 29, ../sass/pages.scss */
#skip-link {
  margin: 0;
}
/* line 33, ../sass/pages.scss */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
/* line 50, ../sass/pages.scss */
#logo {
  /* Wrapping link for logo */
  float: left;
  /* LTR */
  margin: 0;
  padding: 0;
}
/* line 55, ../sass/pages.scss */
#logo img {
  vertical-align: bottom;
}

/* line 60, ../sass/pages.scss */
#name-and-slogan {
  /* Wrapper for website name and slogan */
  float: left;
}

/* line 64, ../sass/pages.scss */
#site-name {
  /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}
/* line 70, ../sass/pages.scss */
#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}
/* line 76, ../sass/pages.scss */
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

/* line 81, ../sass/pages.scss */
#site-slogan {
  /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

/* line 86, ../sass/pages.scss */
.region-header {
  /* Wrapper for any blocks placed in the header region */
  clear: both;
  /* Clear the logo */
}

/*
 * Main (container for everything else)
 */
/*
 * Content
 */
/* line 107, ../sass/pages.scss */
.breadcrumb {
  /* The path to the current page in the form of a list of links */
}
/* line 108, ../sass/pages.scss */
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
/* line 112, ../sass/pages.scss */
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 125, ../sass/pages.scss */
h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  /* Comment title */
  margin: 0;
}

/* line 129, ../sass/pages.scss */
tr.even {
  /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 133, ../sass/pages.scss */
tr.odd {
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 137, ../sass/pages.scss */
div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0;
  /* Drupal core uses "6px 0" margin */
}
/* line 140, ../sass/pages.scss */
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 146, ../sass/pages.scss */
div.status {
  /* Normal priority messages */
}

/* line 150, ../sass/pages.scss */
div.warning,
tr.warning {
  /* Medium priority messages */
  /* border: 1px solid #f0c020; */
  /* Drupal core uses: 1px solid #f0c020 */
}

/* line 155, ../sass/pages.scss */
div.error,
tr.error {
  /* High priority messages. See also the .error declaration below. */
}

/* line 158, ../sass/pages.scss */
.error {
  /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */
  /* Drupal core uses a #e55 background */
}

/* line 162, ../sass/pages.scss */
.warning {
  /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */
  /* Drupal core uses a #e09010 background */
}

/* line 166, ../sass/pages.scss */
.tabs {
  /* See also the tabs.css file. */
}

/* line 169, ../sass/pages.scss */
.region-help {
  /* Help text on a page */
}

/* line 172, ../sass/pages.scss */
.more-help-link {
  /* Link to more help */
}

/* line 175, ../sass/pages.scss */
.region-content {
  /* Wrapper for the actual page content */
}

/* line 178, ../sass/pages.scss */
ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
/* line 182, ../sass/pages.scss */
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 188, ../sass/pages.scss */
span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 192, ../sass/pages.scss */
.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
/* line 195, ../sass/pages.scss */
.item-list .pager li {
  /* Each page number in the pager list */
  padding: 0 0.5em;
}

/* line 200, ../sass/pages.scss */
.feed-icon {
  /* The link to the RSS or Atom feed for the current list of content */
}

/* line 203, ../sass/pages.scss */
.more-link {
  /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
/*
 * Footer
 */
/*
 * Page bottom
 */
/* line 237, ../sass/pages.scss */
.region-bottom {
  /* Wrapper for any blocks placed in the page bottom region */
}

/* Custom Css*/
/* Fonts */
/* Colors */
/* Configs */
/* line 298, ../sass/pages.scss */
html {
  background: url("../images/pretties.png") no-repeat top center #083228;
  background-size: contain;
}

/* line 303, ../sass/pages.scss */
html, body {
  min-width: 100%;
}

/* line 307, ../sass/pages.scss */
#block-menu-menu-header-navigation li {
  list-style: none;
  height: 27px;
  float: left;
  padding: 5px 20px;
  border-right: 1px solid #062A21;
}

/* line 315, ../sass/pages.scss */
#block-menu-menu-header-navigation li a {
  text-decoration: none;
  color: #e5dea8;
  font-family: "Copperplate Gothic Bold", "Copperplate Gothic Light", Copperplate, "kelvingrove-1", "kelvingrove-2", serif;
  font-style: normal;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .88px;
}

/* line 325, ../sass/pages.scss */
#header {
  background-color: #004538;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #015b4a), color-stop(90%, #004538));
  background-image: -webkit-linear-gradient(#015b4a, #004538 90%);
  background-image: -moz-linear-gradient(#015b4a, #004538 90%);
  background-image: -o-linear-gradient(#015b4a, #004538 90%);
  background-image: -ms-linear-gradient(#015b4a, #004538 90%);
  background-image: linear-gradient(#015b4a, #004538 90%);
  height: auto;
  margin-bottom: 0;
  padding: 0;
}

/* line 333, ../sass/pages.scss */
.region-header {
  clear: none;
}

/* line 337, ../sass/pages.scss */
#block-menu-menu-header-navigation ul {
  margin: 0;
}

/* line 341, ../sass/pages.scss */
#block-menu-menu-header-navigation.block {
  margin: 0;
}

/* line 345, ../sass/pages.scss */
#logo {
  padding: 5px 20px;
  border-right: 1px solid #062A21;
}

/* line 350, ../sass/pages.scss */
.block-search {
  padding-left: 20px;
  margin-bottom: -10px;
}

/* line 355, ../sass/pages.scss */
input.custom-search-default-value {
  margin-left: 20px;
  border-radius: 3px 0 0 3px;
  background-color: #EAE6CD;
  border: none;
  height: 23px;
  padding-left: 10px;
}

/* line 364, ../sass/pages.scss */
.block-search .form-submit {
  height: 25px;
  max-width: 100%;
  padding-top: 12px;
}

/* line 370, ../sass/pages.scss */
#navigation {
  font-family: "myriad-pro-condensed-1", "myriad-pro-condensed-2", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 25.5px;
  text-transform: uppercase;
  color: #007161;
  margin-top: 225px;
  position: relative;
  z-index: 200;
  margin-bottom: -25px;
}

/* line 383, ../sass/pages.scss */
#navigation li a {
  color: white;
  text-decoration: none;
  text-shadow: -2px 2px 2px black;
  padding-left: 12px;
}

/* line 390, ../sass/pages.scss */
#navigation ul.links li.last {
  background-color: #FFD457;
  margin-left: 15px;
  box-shadow: -2px 2px 2px black;
  padding: 0;
}

/* line 397, ../sass/pages.scss */
#navigation li.last a {
  color: #007161;
  padding: 0 10px 0 10px;
  margin: 0;
  text-shadow: none;
}

/* line 405, ../sass/pages.scss */
nav[role="navigation"] label {
  display: none;
}

/* Fix for Android */
/* line 411, ../sass/pages.scss */
body {
  -webkit-animation: bugfix infinite 1s;
}

@-webkit-keyframes bugfix {
  /* line 415, ../sass/pages.scss */
  from {
    padding: 0;
  }

  /* line 416, ../sass/pages.scss */
  to {
    padding: 0;
  }
}

/* default checkbox */
/* line 420, ../sass/pages.scss */
input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/* line 426, ../sass/pages.scss */
label {
  cursor: pointer;
  user-select: none;
}

/* line 431, ../sass/pages.scss */
hgroup {
  display: none;
}

/* line 435, ../sass/pages.scss */
.mission-statement p {
  font-family: "myriad-pro-1", "myriad-pro-2", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
  color: #F9E08E;
  background-color: #004538;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #015b4a), color-stop(90%, #004538));
  background-image: -webkit-linear-gradient(#015b4a, #004538 90%);
  background-image: -moz-linear-gradient(#015b4a, #004538 90%);
  background-image: -o-linear-gradient(#015b4a, #004538 90%);
  background-image: -ms-linear-gradient(#015b4a, #004538 90%);
  background-image: linear-gradient(#015b4a, #004538 90%);
  text-align: center;
}

/* line 444, ../sass/pages.scss */
.flexslider {
  background: #0A4436;
  border: 5px #0A4436 solid;
  border-radius: 0;
  margin-bottom: 0;
}

/* line 451, ../sass/pages.scss */
.flex-control-nav {
  top: -65px;
  left: -15px;
  position: relative;
  width: 16%;
}

/* line 458, ../sass/pages.scss */
.flex-control-nav li {
  display: inline-block;
  margin: 0 2px;
}

/* line 463, ../sass/pages.scss */
.flex-control-paging li a {
  background: none repeat scroll 0 0 #0A4436;
  border: 2px solid #E5DEA8;
  border-radius: 20px 20px 20px 20px;
  box-shadow: none;
  cursor: pointer;
  display: block;
  height: 11px;
  text-indent: -9999px;
  width: 11px;
}

/* line 475, ../sass/pages.scss */
.flex-control-paging li a.flex-active {
  background: none repeat scroll 0 0 #EDC551;
  cursor: default;
  box-shadow: inset -2px 1px 2px gray;
}

/* line 481, ../sass/pages.scss */
.flexslider .views-field-body {
  display: inline-block;
  padding-top: 7px;
}

/* line 486, ../sass/pages.scss */
.flexslider .views-field-body span.views-label {
  font-family: "Copperplate Gothic Bold", "Copperplate Gothic Light", Copperplate, "kelvingrove-1", "kelvingrove-2", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  text-transform: uppercase;
  color: #E5DEA8;
  padding: 17px 16px;
  letter-spacing: 2px;
  border-right: 2px solid #E5DEA8;
  position: absolute;
  margin-top: 9px;
}

/* line 498, ../sass/pages.scss */
.flexslider .views-field-body .field-content {
  display: inline-block;
  color: #F9E08E;
  font-size: 14px;
  height: 71px;
  position: relative;
  font-family: "myriad-pro-1", "myriad-pro-2", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* line 507, ../sass/pages.scss */
.flexslider .views-field-body .field-content p {
  margin: 0;
}

/* line 511, ../sass/pages.scss */
.button-link {
  margin-top: 15px;
  padding: 32px 0 0;
  list-style: none;
}

/* line 517, ../sass/pages.scss */
.pane-mission-respondable-front-buttons-front-buttons {
  margin-top: -5px;
}

/* line 521, ../sass/pages.scss */
.button-link {
  color: #FFD457;
  text-align: center;
  background-color: #004538;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #015b4a), color-stop(90%, #004538));
  background-image: -webkit-linear-gradient(#015b4a, #004538 90%);
  background-image: -moz-linear-gradient(#015b4a, #004538 90%);
  background-image: -o-linear-gradient(#015b4a, #004538 90%);
  background-image: -ms-linear-gradient(#015b4a, #004538 90%);
  background-image: linear-gradient(#015b4a, #004538 90%);
  text-decoration: none;
  height: 45px;
  padding-top: 20px;
  display: inline-block;
}
/* line 531, ../sass/pages.scss */
.button-link.last {
  margin-right: -5px;
}

/* line 538, ../sass/pages.scss */
.button-link:hover {
  border: 2px solid #FFD457;
  width: 177px;
  height: 43px;
  padding-top: 16px;
}

/* line 545, ../sass/pages.scss */
.oversized-text {
  text-transform: uppercase;
  font-size: 32px;
  font-family: "myriad-pro-condensed-1", "myriad-pro-condensed-2", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* line 551, ../sass/pages.scss */
.pane-views-testimonial-block .pane-title {
  background-color: #004538;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #015b4a), color-stop(90%, #004538));
  background-image: -webkit-linear-gradient(#015b4a, #004538 90%);
  background-image: -moz-linear-gradient(#015b4a, #004538 90%);
  background-image: -o-linear-gradient(#015b4a, #004538 90%);
  background-image: -ms-linear-gradient(#015b4a, #004538 90%);
  background-image: linear-gradient(#015b4a, #004538 90%);
  line-height: 1.8em;
  margin-bottom: -4px;
  position: relative;
  top: -5px;
  height: 38px;
  margin-top: 30px;
}

/* line 562, ../sass/pages.scss */
.pane-views-testimonial-block .pane-title a {
  color: #E5DEA8;
  text-decoration: none;
  padding-left: 25px;
  letter-spacing: 2px;
  font-size: 16px;
  font-family: "Copperplate Gothic Bold", "Copperplate Gothic Light", Copperplate, "kelvingrove-1", "kelvingrove-2", serif;
  font-weight: 400;
  font-style: normal;
}

/* line 571, ../sass/pages.scss */
.pane-views-testimonial-block .view-content div {
  background-color: #F7F4DE;
  max-height: 177px;
}
/* line 575, ../sass/pages.scss */
.pane-views-testimonial-block .view-content div.bqstart, .pane-views-testimonial-block .view-content div.bqend {
  float: none;
  display: inline;
  font-family: "myriad-pro-1", "myriad-pro-2", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* line 582, ../sass/pages.scss */
.pane-views-testimonial-block .views-field-title {
  margin-top: 5px;
  padding-bottom: 2px;
}

/* line 587, ../sass/pages.scss */
.pane-views-testimonial-block .views-field-title a {
  color: #007161;
  text-decoration: none;
  padding-left: 25px;
  font-size: 14px;
  font-family: "myriad-pro-1", "myriad-pro-2", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* line 595, ../sass/pages.scss */
.not-logged-in .pane-views-testimonial-block .views-field-edit-node {
  display: none;
}

/* line 599, ../sass/pages.scss */
.pane-views-testimonial-block .views-field-edit-node {
  position: absolute;
  top: 0;
  right: 0;
  padding: 14px;
}

/* line 606, ../sass/pages.scss */
.pane-views-testimonial-block .views-field-body .field-content {
  padding-right: 5px;
  font-size: 17px;
  font-family: "myriad-pro-condensed-1", "myriad-pro-condensed-2", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 20px;
}

/* line 613, ../sass/pages.scss */
.pane-views-testimonial-block .views-field-path a {
  color: #007161;
  text-decoration: none;
  padding-left: 25px;
  font-family: "myriad-pro-1", "myriad-pro-2", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* line 620, ../sass/pages.scss */
.pane-views-featured-news-block {
  background-color: #F7F4DE;
}

/* line 624, ../sass/pages.scss */
.pane-views-featured-news-block .pane-title {
  background-color: #004538;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #015b4a), color-stop(90%, #004538));
  background-image: -webkit-linear-gradient(#015b4a, #004538 90%);
  background-image: -moz-linear-gradient(#015b4a, #004538 90%);
  background-image: -o-linear-gradient(#015b4a, #004538 90%);
  background-image: -ms-linear-gradient(#015b4a, #004538 90%);
  background-image: linear-gradient(#015b4a, #004538 90%);
  font-family: "Copperplate Gothic Bold", "Copperplate Gothic Light", Copperplate, "kelvingrove-1", "kelvingrove-2", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.8em;
  margin-bottom: -4px;
  position: relative;
  top: -5px;
  height: 38px;
  margin-top: 208px;
  clear: both;
}

/* line 637, ../sass/pages.scss */
.pane-views-featured-news-block .pane-title a {
  color: #E5DEA8;
  text-decoration: none;
  padding-left: 25px;
  letter-spacing: 2px;
  font-size: 16px;
  font-family: "Copperplate Gothic Bold", "Copperplate Gothic Light", Copperplate, "kelvingrove-1", "kelvingrove-2", serif;
  font-weight: 400;
  font-style: normal;
}

/* line 646, ../sass/pages.scss */
.view-featured-news ul li {
  border-bottom: 1px solid #DBD6AE;
  margin-top: 15px;
  padding-bottom: 20px;
  list-style: none;
}

/* line 653, ../sass/pages.scss */
.view-featured-news li div {
  display: block;
  height: 70px;
}

/* line 658, ../sass/pages.scss */
.view-featured-news .views-field-field-news-image {
  margin-left: -5px;
}

/* line 662, ../sass/pages.scss */
.view-featured-news .views-field-title {
  display: table;
  height: 95px;
  width: 62%;
  margin-left: 34%;
  margin-top: -105px;
}

/* line 670, ../sass/pages.scss */
.view-featured-news .views-field-title span {
  display: table-cell;
  vertical-align: middle;
}

/* line 675, ../sass/pages.scss */
.view-featured-news .views-field-title span a {
  text-decoration: none;
  font-family: "myriad-pro-1", "myriad-pro-2", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #007161;
  font-size: 16px;
}

/* line 682, ../sass/pages.scss */
.block-mission-respondable-footer {
  border-top: 1px solid #056553;
}

/* line 686, ../sass/pages.scss */
.block-mission-respondable-footer li {
  list-style: none;
  display: inline;
}

/* line 691, ../sass/pages.scss */
.icon-pinterest_logo {
  background: url("../images/pinterest.png");
  display: inline-block;
  height: 34px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 33px;
  margin-left: -5%;
  position: relative;
  top: -9px;
}

/* line 704, ../sass/pages.scss */
.icon-googleplus_logo {
  background: url("../images/googleplus.png");
  display: inline-block;
  height: 34px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 33px;
  position: relative;
  top: -9px;
}

/* line 716, ../sass/pages.scss */
.icon-facebook_logo {
  background: url("../images/facebook.png");
  display: inline-block;
  height: 34px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 33px;
  position: relative;
  top: -9px;
}

/* line 728, ../sass/pages.scss */
.icon-twitter_logo {
  background: url("../images/twitter.png");
  display: inline-block;
  height: 34px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 33px;
  position: relative;
  top: -9px;
}

/* line 740, ../sass/pages.scss */
.icon-youtube_logo {
  background: url("../images/youtube.png");
  display: inline-block;
  height: 34px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 33px;
  position: relative;
  top: -9px;
}

/* line 752, ../sass/pages.scss */
.icon-coplac_logo {
  background: url("../images/coplac.png");
  display: inline-block;
  height: 58px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 141px;
  margin-left: 21%;
}

/* line 763, ../sass/pages.scss */
.icon-what_will_they_learn_logo {
  background: url("../images/WHATwillTHEYlearn.png");
  display: inline-block;
  height: 59px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 139px;
  margin-right: -5px;
}

/* line 774, ../sass/pages.scss */
#block-mission-respondable-footer-footer-contact {
  background: url("../images/pretties2.png") 50% 0 no-repeat;
  height: 145px;
}

/* line 779, ../sass/pages.scss */
.block-mission-respondable-footer p {
  font-family: "myriad-pro-1", "myriad-pro-2", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  color: #EAE6CD;
  width: 233px;
  line-height: 16px;
}

/* line 787, ../sass/pages.scss */
.block-mission-respondable-footer p a {
  font-family: "myriad-pro-1", "myriad-pro-2", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  color: #EAE6CD;
  width: 200px;
  text-decoration: none;
  line-height: 16px;
}

/* line 796, ../sass/pages.scss */
#block-menu-menu-footer-navigation {
  margin-top: -92px;
  margin-left: -30px;
}

/* line 801, ../sass/pages.scss */
#block-menu-menu-footer-navigation li {
  list-style: none;
  display: inline-block;
  border-left: 1px solid #EAE6CD;
  padding-left: 5px;
  line-height: 4px;
  height: 12px;
}

/* line 810, ../sass/pages.scss */
#block-menu-menu-footer-navigation li a {
  font-family: "myriad-pro-1", "myriad-pro-2", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #FFD457;
  font-size: 12px;
  text-decoration: none;
}

/* line 817, ../sass/pages.scss */
#block-menu-menu-footer-navigation li.first {
  border-left: none;
  padding-left: 0;
}

/* line 822, ../sass/pages.scss */
#block-menu-menu-footer-navigation li.last {
  display: block;
  border-left: none;
  padding-left: 0;
  padding-top: 2px;
}

/* line 829, ../sass/pages.scss */
#block-menu-menu-footer-navigation li.last a {
  color: #999999;
}

/* line 833, ../sass/pages.scss */
.panels-flexible-region-2-center {
  width: 100%;
}

/* line 837, ../sass/pages.scss */
.section-news .panel-flexible .center {
  background-color: #F7F4DE;
}

/* line 841, ../sass/pages.scss */
.section-news .panel-flexible .center .panels-flexible-region-inside {
  padding: 0;
}

/* line 845, ../sass/pages.scss */
.page-news #navigation {
  margin-bottom: 50px;
}

/* line 849, ../sass/pages.scss */
.top-news h2 {
  font-family: "myriad-pro-condensed-1", "myriad-pro-condensed-2", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  color: #FFD457;
  background-color: rgba(1, 90, 73, 0.5);
  margin: -66px 0 0 0;
  padding: 1px 15px;
  text-transform: uppercase;
}

/* line 859, ../sass/pages.scss */
.top-news .views-field-title {
  margin: 15px 15px -20px 15px;
  line-height: 18px;
}

/* line 864, ../sass/pages.scss */
.top-news .views-field-title a {
  font-family: "myriad-pro-1", "myriad-pro-2", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  color: #007161;
  text-decoration: none;
}

/* line 871, ../sass/pages.scss */
.top-news .views-field-body {
  font-family: "myriad-pro-1", "myriad-pro-2", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #575757;
  margin-right: 15px;
  margin-left: 15px;
  line-height: 18px;
}

/* line 880, ../sass/pages.scss */
.latest-news .views-row {
  border-top: 1px solid #D7D3AB;
  padding-top: 25px;
  margin: 0 15px;
}

/* line 886, ../sass/pages.scss */
.latest-news .views-field-field-news-image {
  float: left;
}

/* line 890, ../sass/pages.scss */
.latest-news .views-field-field-news-image {
  margin-right: 15px;
}

/* line 894, ../sass/pages.scss */
.latest-news .views-field-title {
  line-height: 18px;
}

/* line 898, ../sass/pages.scss */
.latest-news .views-field-title a {
  font-family: "myriad-pro-1", "myriad-pro-2", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  color: #007161;
  text-decoration: none;
}

/* line 905, ../sass/pages.scss */
.latest-news .views-field-body {
  font-family: "myriad-pro-1", "myriad-pro-2", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #575757;
  line-height: 18px;
  margin-bottom: 25px;
}

/* line 913, ../sass/pages.scss */
.latest-news .item-list {
  font-family: "myriad-pro-1", "myriad-pro-2", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  background-color: #738979;
  padding: 10px 0;
  color: #F7F4DE;
}

/* line 921, ../sass/pages.scss */
.latest-news .item-list ul {
  margin: 0;
}

/* line 925, ../sass/pages.scss */
.latest-news .item-list li a {
  color: #F7F4DE;
  text-decoration: none;
}

/* line 930, ../sass/pages.scss */
.section-news .panel-flexible .headlines {
  background-color: #F7F4DE;
  width: 195px;
}

/* line 935, ../sass/pages.scss */
.section-news .panel-flexible .headlines .pane-title {
  background-color: #004538;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #015b4a), color-stop(90%, #004538));
  background-image: -webkit-linear-gradient(#015b4a, #004538 90%);
  background-image: -moz-linear-gradient(#015b4a, #004538 90%);
  background-image: -o-linear-gradient(#015b4a, #004538 90%);
  background-image: -ms-linear-gradient(#015b4a, #004538 90%);
  background-image: linear-gradient(#015b4a, #004538 90%);
}

/* line 940, ../sass/pages.scss */
.section-news .panel-flexible .headlines .pane-title a {
  color: #E5DEA8;
  text-decoration: none;
  padding-left: 15px;
  padding-bottom: 10px;
  letter-spacing: 2px;
  font-size: 24px;
  font-family: "Copperplate Gothic Bold", "Copperplate Gothic Light", Copperplate, "kelvingrove-1", "kelvingrove-2", serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
}

/* line 951, ../sass/pages.scss */
.headlines .views-field-title {
  line-height: 18px;
  padding-bottom: 20px;
}

/* line 956, ../sass/pages.scss */
.headlines .views-field-title a {
  font-family: "myriad-pro-1", "myriad-pro-2", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  color: #007161;
  text-decoration: none;
}

/* line 963, ../sass/pages.scss */
.headlines .views-row {
  border-top: 1px solid #D7D3AB;
  padding-top: 25px;
  margin: 0 15px;
}

/* line 969, ../sass/pages.scss */
.headlines .views-row-first {
  border-top: none;
  padding-top: 0;
}

/* line 974, ../sass/pages.scss */
.headlines .item-list {
  font-family: "myriad-pro-1", "myriad-pro-2", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  background-color: #738979;
  padding: 10px 0;
  color: #F7F4DE;
}

/* line 982, ../sass/pages.scss */
.headlines .item-list ul {
  margin: 0;
}

/* line 986, ../sass/pages.scss */
.headlines .item-list li a {
  color: #F7F4DE;
  text-decoration: none;
}

/* line 991, ../sass/pages.scss */
.section-news .panel-flexible .news {
  background-color: #F7F4DE;
  width: 195px;
  margin-top: -90px;
}

/* line 997, ../sass/pages.scss */
.section-news .panel-flexible .news .pane-title {
  background-color: #004538;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #015b4a), color-stop(90%, #004538));
  background-image: -webkit-linear-gradient(#015b4a, #004538 90%);
  background-image: -moz-linear-gradient(#015b4a, #004538 90%);
  background-image: -o-linear-gradient(#015b4a, #004538 90%);
  background-image: -ms-linear-gradient(#015b4a, #004538 90%);
  background-image: linear-gradient(#015b4a, #004538 90%);
}

/* line 1002, ../sass/pages.scss */
.section-news .panel-flexible .news .pane-title a {
  color: #E5DEA8;
  text-decoration: none;
  padding-left: 15px;
  padding-bottom: 10px;
  letter-spacing: 2px;
  font-size: 24px;
  font-family: "Copperplate Gothic Bold", "Copperplate Gothic Light", Copperplate, "kelvingrove-1", "kelvingrove-2", serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
}

/* line 1013, ../sass/pages.scss */
.news ul {
  padding: 0;
  margin: -10px 0 0 0;
}

/* line 1018, ../sass/pages.scss */
.news li {
  border-top: 1px solid #D7D3AB;
  padding-top: 15px;
  margin: 0 15px;
}

/* line 1024, ../sass/pages.scss */
.news li.leaf {
  list-style-image: none;
  list-style-type: none;
}

/* line 1029, ../sass/pages.scss */
.news li.first {
  border-top: none;
  padding-top: 0;
}

/* line 1034, ../sass/pages.scss */
.news li a {
  font-family: "myriad-pro-1", "myriad-pro-2", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  color: #007161;
  text-decoration: none;
  padding-bottom: 15px;
  display: block;
}

/* line 1043, ../sass/pages.scss */
.node-type-news #content {
  margin-top: -70px;
}

/* line 1047, ../sass/pages.scss */
.node-type-news .title {
  font-family: "myriad-pro-condensed-1", "myriad-pro-condensed-2", sans-serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
  top: 345px;
  z-index: 100;
  background-color: rgba(1, 90, 73, 0.5);
  color: #FFD457;
  padding: 0 15px;
  font-size: 32px;
}

/* line 1058, ../sass/pages.scss */
.node-type-news article {
  background-color: #F7F4DE;
}
