/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */

@import "base";

/*
 * Body
 */

body {
  margin: 0;
  padding: 0;
}

#page {
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;

  a,
  a:visited {
    display: block;
    width: 100%;
    padding: 2px 0 3px 0;
    text-align: center;
    background-color: #666;
    color: #fff;
  }
}

/*
 * Header
 */

#header {
}

#logo { /* Wrapping link for logo */
  float: left; /* LTR */
  margin: 0;
  padding: 0;

  img {
    vertical-align: bottom;
  }
}

#name-and-slogan { /* Wrapper for website name and slogan */
  float: left;
}

#site-name { /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;

  a:link,
  a:visited {
    color: #000;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
  }
}

#site-slogan { /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

.region-header { /* Wrapper for any blocks placed in the header region */
  clear: both; /* Clear the logo */
}

/*
 * Main (container for everything else)
 */

#main {
}

/*
 * Content
 */

#content {
}

.region-highlighted {
}

.breadcrumb { /* The path to the current page in the form of a list of links */
  ol {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title { /* Comment title */
  margin: 0;
}

tr.even { /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages { /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */

  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}

div.status { /* Normal priority messages */
}

div.warning,
tr.warning { /* Medium priority messages */
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error { /* High priority messages. See also the .error declaration below. */
}

.error { /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning { /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

.tabs { /* See also the tabs.css file. */
}

.region-help { /* Help text on a page */
}

.more-help-link { /* Link to more help */
}

.region-content { /* Wrapper for the actual page content */
}

ul.inline { /* List of links generated by theme_links() */
  display: inline;
  padding: 0;

  li {
    display: inline;
    list-style-type: none;
    padding: 0 1em 0 0; /* LTR */
  }
}
span.field-label { /* The inline field label used by the Fences module */
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager { /* A list of page numbers when more than 1 page of content is available */
  padding: 0;

  li { /* Each page number in the pager list */
    padding: 0 0.5em;
  }
}

.feed-icon { /* The link to the RSS or Atom feed for the current list of content */
}

.more-link { /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */

.region-sidebar-first {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */

.region-sidebar-second {
}

/*
 * Footer
 */

#footer {
}

/*
 * Page bottom
 */

.region-bottom { /* Wrapper for any blocks placed in the page bottom region */
}

/* Custom Css*/

@import "compass/css3/images";

/* Fonts */
$font-copperplate: "Copperplate Gothic Bold", "Copperplate Gothic Light", Copperplate, "kelvingrove-1", "kelvingrove-2", serif;
$font-myriadpro: "myriad-pro-1","myriad-pro-2",sans-serif;
$font-myriadprocondensed: "myriad-pro-condensed-1","myriad-pro-condensed-2",sans-serif;

@mixin font-copperplate {
  font-family: $font-copperplate;
  font-weight: 400;
  font-style: normal;
}

@mixin font-myriadpro {
  font-family: $font-myriadpro;
  font-weight: 400;
  font-style: normal;
}

@mixin font-myriadpro_semibold {
  font-family: $font-myriadpro;
  font-weight: 600;
  font-style: normal;
}

@mixin font-myriadpro_bold {
  font-family: $font-myriadpro;
  font-weight: 700;
  font-style: normal;
}

@mixin font-myriadpro_italic {
  font-family: $font-myriadpro;
  font-weight: 400;
  font-style: italic;
}

@mixin font-myriadprocondensed {
  font-family: $font-myriadprocondensed;
  font-weight: 400;
  font-style: normal;
}

@mixin font-myriadprocondensed_bold {
  font-family: $font-myriadprocondensed;
  font-weight: 700;
  font-style: normal;
}

@mixin font-myriadprocondensed_semibold_italic {
  font-family: $font-myriadprocondensed;
  font-weight: 600;
  font-style: italic;
}

/* Colors */
$topbar-link_color: #E5DEA8;
$primary-nav: #007161;

/* Configs */

html {
  background: url("../images/pretties.png") no-repeat scroll center top #083228;
}

html, body {
  min-width: 100%;
}

#secondary-menu li {
  list-style: none;
  height: 27px;
  float: left;
  padding: 5px 1%;
  border-right: 1px solid #062A21;
}

#secondary-menu li a {
  text-decoration: none;
  color: $topbar-link_color;
  font-family: $font-copperplate;
  font-style: normal;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .88px;
}

#header {
  background-color: #004538;
  @include background-image(linear-gradient(#015B4A, #004538 90%));
  height: auto;
  margin-bottom: 0;
  padding: 0;
}

.region-header {
  clear: none;
}

#secondary-menu ul {
  margin: 0;
}

#secondary-menu.block {
  margin: 0;
}

#logo {
  padding: 5px 1%;
  border-right: 1px solid #062A21;
}

.block-search {
  padding-left: 20px;
  margin-bottom: -10px;
}

input.custom-search-box {
  margin-left: 20px;
  border-radius: 3px 0 0 3px;
  background-color: #EAE6CD;
  border: none;
  height: 23px;
  padding-left: 10px;
}

.block-search .form-submit {
  height: 25px;
  max-width: 100%;
  padding-top: 12px;
}

#navigation {
  @include font-myriadprocondensed;
  font-size: 25.5px;
  text-transform: uppercase;
  color: $primary-nav;
  margin-top: 225px;
  position: relative;
  z-index: 200;
}

#navigation li a {
  color: white;
  text-decoration: none;
  text-shadow: -2px 2px 2px black;
  padding-left: 12px;
}

#navigation ul.links li.last {
  background-color: #FFD457;
  margin-left: 15px;
  box-shadow: -2px 2px 2px black;
  padding: 0;
}

#navigation li.last a {
  color: #007161;
  padding: 0 10px 0 10px;
  margin: 0;
  text-shadow: none;
}

nav[role="navigation"] {
  label {
    display: none;
  }
}

/* Fix for Android */
body {
  -webkit-animation: bugfix infinite 1s;
}
@-webkit-keyframes bugfix {
  from { padding: 0; }
  to { padding: 0; }
}

/* default checkbox */
input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

label {
  cursor: pointer;
  user-select: none;
}

hgroup {
  display: none;
}

#main {
  margin-bottom: 25px;
}

.mission-statement p {
  @include font-myriadpro_italic;
  font-size: 14px;
  color: #F9E08E;
  background-color: #004538;
  @include background-image(linear-gradient(#015B4A, #004538 90%));
  text-align: center;
}

.flexslider {
  background: #0A4436;
  border: 5px #0A4436 solid;
  border-radius: 0;
  margin-bottom: 0;
}

.flex-control-nav {
    top: -45px;
    left: 10px;
    position: relative;
    width: 17%;
}

.flex-control-nav li {
    display: inline-block;
    margin: 0 2px;
}

.flex-control-paging li a {
    background: none repeat scroll 0 0 #0A4436;
    border: 2px solid #E5DEA8;
    border-radius: 20px 20px 20px 20px;
    box-shadow: none;
    cursor: pointer;
    display: block;
    height: 11px;
    text-indent: -9999px;
    width: 11px;
}

.flex-control-paging li a.flex-active {
    background: none repeat scroll 0 0 #EDC551;
    cursor: default;
    box-shadow: inset -2px 1px 2px gray;
}

.flexslider .views-field-body {
  padding-top: 7px;
}

.flexslider .views-field-body span.views-label {
  @include font-copperplate;
  font-size: 16px;
  text-transform: uppercase;
  color: #E5DEA8;
  padding: 17px 16px;
  letter-spacing: 2px;
  border-right: 2px solid #E5DEA8;
  position: absolute;
  margin-top: 9px;
}

.flexslider .views-field-body .field-content {
  display: inline-block;
  color: #F9E08E;
  font-size: 14px;
  height: 45px;
  position: relative;
  @include font-myriadpro;
}

.flexslider .views-field-body .field-content p {
  margin: 0;
}

.flex-direction-nav a {
    background: url("../images/bg_direction_nav.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 30px;
    margin: -20px 0 0;
    opacity: 0;
    position: absolute;
    text-indent: -9999px;
    top: 50%;
    width: 30px;
    z-index: 10;
}

.flexslider .flex-direction-nav a, .flexslider .flex-direction-nav a {
}

.button-link {
  margin-top: 15px;
  padding: 32px 0 0;
  list-style: none;
}

.pane-mission-respondable-front-buttons-front-buttons {
  margin-top: 10px;
}

.button-link {
  color: #FFD457;
  text-align: center;
  background-color: #004538;
  @include background-image(linear-gradient(#015B4A, #004538 90%));
  text-decoration: none;
  height: 45px;
  padding-top: 20px;
  display: inline-block;

  &.last {
    margin-right: -5px;
  }
}



.button-link:hover{
  border: 2px solid #FFD457;
  width: 177px;
  height: 43px;
  padding-top: 16px;
}

.oversized-text {
  text-transform: uppercase;
  font-size: 32px;
  @include font-myriadprocondensed;
}

.pane-views-testimonial-block .pane-title {
  background-color: #004538;
  @include background-image(linear-gradient(#015B4A, #004538 90%));
  line-height: 1.8em;
  margin-bottom: -4px;
  position: relative;
  top: -5px;
  height: 38px;
  margin-top: 5px;
}

.pane-views-testimonial-block .pane-title a {
  color: #E5DEA8;
  text-decoration: none;
  padding-left: 25px;
  letter-spacing: 2px;
  font-size: 16px;
  @include font-copperplate;
}

.pane-views-testimonial-block .view-content .views-field-nothing {
  background-color: #F7F4DE;
  max-height: 182px;
  min-height: 182px;

  .bqstart, .bqend {
    float: none;
    display: inline;
    @include font-myriadpro;
  }
}

.pane-views-testimonial-block .testimonial-title {
  padding-bottom: 2px;
}

.pane-views-testimonial-block .testimonial-body {
  @include font-myriadprocondensed;
  font-size: 20px;
  color: #575757;
}

.pane-views-testimonial-block .testimonial-path {
}

.not-logged-in .pane-views-testimonial-block .views-field-edit-node {
  display: none;
}

.pane-views-testimonial-block .views-field-edit-node {
  position: absolute;
  top: 0;
  right: 0;
  padding: 14px;
}

.pane-views-testimonial-block .testimonial-body .field-content {
  padding-right: 5px;
  font-size: 17px;
  @include font-myriadprocondensed_bold;
  line-height: 20px;
}

.pane-views-testimonial-block .testimonial-path a {
  color: #007161;
  text-decoration: none;
  @include font-myriadpro_bold;
}

.pane-views-featured-news-block {
  background-color: #F7F4DE;
}

.pane-views-featured-news-block .pane-title, .panel-pane.events .pane-title {
  background-color: #004538;
  @include background-image(linear-gradient(#015B4A, #004538 90%));
  @include font-copperplate;
  line-height: 1.8em;
  margin-bottom: -4px;
  margin-top: 0;
  height: 38px;
  clear: both;
}

.pane-views-testimonial-block h2 a, .pane-views-featured-news-block h2 a, .panel-pane.events h2 a {
  color: #E5DEA8;
  text-decoration: none;
  padding-left: 25px;
  letter-spacing: 2px;
  font-size: 16px;
  @include font-copperplate;
  position: relative;
  top: -5px;
}

.view-featured-news .views-row {
  border-bottom: 1px solid #DBD6AE;
  margin-top: 15px;
  padding-bottom: 20px;
  list-style: none;
  display: table;
}

.view-events .views-row {
  display: table;
}

.view-featured-news li div {
  display: block;
  height: 70px;
}

.view-featured-news .views-field-field-news-frontpage-image {
  padding-left: 15px;
  display: table-cell;
  vertical-align: middle;
  min-width: 142px;
}

.view-featured-news .views-field-title {
  display: table-cell;
  vertical-align: middle;
  padding: 0 15px;
}

.view-events .views-field-title, .view-events .views-field-nothing {
  display: table-cell;
  vertical-align: middle;
}

.view-featured-news .views-field-title span a {
  text-decoration: none;
  @include font-myriadpro_semibold;
  color: #007161;
  font-size: 16px;
}

.panel-pane.events {
  background-color: #F7F4DE;
}

.panel-pane.events br {
  line-height: 0;
}

.panel-pane.events .views-row {
  margin: 10px;
  border-top: 1px solid #056553;
  padding: 15px 0;

  &.views-row-first {
    margin-top: 0;
    border-top: none;
  }
}

.panel-pane.events .date_day {
  @include font-myriadprocondensed_bold;
  font-size: 40px;
  color: #007161;
  margin-left: 10px;
  line-height: 5px;
}

.panel-pane.events .date_month {
  @include font-copperplate;
  font-size: 18px;
  color: #007161;
  margin-left: 10px;
  line-height: 5px;
}

.panel-pane.events .date_time {
  @include font-myriadprocondensed_semibold_italic;
  font-size: 12px;
  color: #007161;
  line-height: 5px;

  .date-display-single {
    margin-left: 15px;
  }

  .date-display-start {
    margin-left: -15px;
  }
}

.panel-pane.events .views-field-nothing {
  float: left;
  width: 75px;
  margin-top: 15px;
}

.panel-pane.events .views-field-title {
  @include font-myriadprocondensed_bold;
  font-size: 18px;
  color: #575757;
  text-decoration: none;
}

.panel-pane.events .views-field-title a {
  color: #575757;
  text-decoration: none;
}


.block-mission-respondable-footer {
  border-top: 1px solid #056553;
}

.block-mission-respondable-footer li {
  list-style: none;
  display: inline;
}

.icon-facebook_logo {
  background: url('../images/facebook.png');
  display: inline-block;
  height: 34px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 33px;
  position: relative;
  top: -9px;
  margin-left: -5%;
}

.icon-twitter_logo {
  background: url('../images/twitter.png');
  display: inline-block;
  height: 34px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 33px;
  position: relative;
  top: -9px;
}

.icon-youtube_logo {
  background: url('../images/youtube.png');
  display: inline-block;
  height: 34px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 33px;
  position: relative;
  top: -9px;
}

.icon-googleplus_logo {
  background: url('../images/googleplus.png');
  display: inline-block;
  height: 34px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 33px;
  position: relative;
  top: -9px;
}

.icon-pinterest_logo {
  background: url('../images/pinterest.png');
  display: inline-block;
  height: 34px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 33px;
  position: relative;
  top: -9px;
}

.icon-coplac_logo {
  background: url('../images/coplac.png');
  display: inline-block;
  height: 58px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 141px;
  margin-left: 18%;
}

.icon-what_will_they_learn_logo {
  background: url('../images/WHATwillTHEYlearn.png');
  display: inline-block;
  height: 59px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 139px;
  margin-right: -5px;
  margin-left: 2%;
}

#block-mission-respondable-footer-footer-contact {
  background: url('../images/pretties2.png') 50% 0 no-repeat;
  height: 145px;
}

.block-mission-respondable-footer p {
  @include font-myriadpro;
  font-size: 12px;
  color: #EAE6CD;
  width: 240px;
  line-height: 16px;
}

.block-mission-respondable-footer p a {
  @include font-myriadpro;
  font-size: 12px;
  color: #EAE6CD;
  width: 200px;
  text-decoration: none;
  line-height: 16px;
}

#block-menu-menu-footer-navigation {
  margin-top: -92px;
  margin-left: -30px;
}

#block-menu-menu-footer-navigation li {
  list-style: none;
  display: inline-block;
  border-left: 1px solid #EAE6CD;
  padding-left: 5px;
  line-height: 4px;
  height: 12px;
}

#block-menu-menu-footer-navigation li a {
  @include font-myriadpro;
  color: #FFD457;
  font-size: 12px;
  text-decoration: none;
}

#block-menu-menu-footer-navigation li.first {
  border-left: none;
  padding-left: 0;
}

#block-menu-menu-footer-navigation li.last {
  display: block;
  border-left: none;
  padding-left: 0;
  padding-top: 2px;
}

#block-menu-menu-footer-navigation li.last a {
  color: #999999;
}

.panels-flexible-region-2-center {
  width: 100%;
}

.section-news .panel-flexible .center .panels-flexible-region-inside {
  padding: 0;
}

.page-news #navigation {
  margin-bottom: 38px;
}

.section-news .top-news {
  background-color: #F7F4DE;
  margin-bottom: -1em;
}

.top-news .pane-title {
  @include font-myriadprocondensed;
  font-size: 32px;
  color: #FFD457;
  background-color: rgba(1, 90, 73, 0.5);
  padding: 1px 15px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}

.top-news .views-field-title {
  margin: 15px 15px -20px 15px;
  line-height: 18px;
}

.top-news .views-field-title a {
  @include font-myriadpro_semibold;
  font-size: 18px;
  color: #007161;
  text-decoration: none;
}

.top-news .views-field-body {
  @include font-myriadpro;
  font-size: 14px;
  color: #575757;
  margin-right: 15px;
  margin-left: 15px;
  line-height: 18px;
  padding-bottom: 1px;
}

.section-news .latest-news {
  background-color: #F7F4DE;
}

.section-news h2.pane-title {
  text-transform: uppercase;
  font-size: 32px;
  @include font-myriadprocondensed;
  color: #FFD457;
  background-color: #004538;
  @include background-image(linear-gradient(#015B4A, #004538 90%));
  padding-left: 15px;
  margin: 0;
}

.latest-news .views-field-field-news-image {
}

.latest-news .views-field-title {
  line-height: 18px;
  margin: 0 15px;
}

.latest-news .views-field-title a {
  @include font-myriadpro_semibold;
  font-size: 14px;
  color: #007161;
  text-decoration: none;
}

.latest-news .views-field-body {
  @include font-myriadpro;
  font-size: 14px;
  color: #575757;
  line-height: 18px;
  margin: 0 15px 25px 15px;
}

.item-list {
  @include font-myriadpro;
  font-size: 12px;
  padding: 10px 0;
  color: #F7F4DE;
  background-color: #004538;
  @include background-image(linear-gradient(#015B4A, #004538 90%));

  .pager-current {
    color: #FFD457;
  }

  ul {
    margin: 0;

    li {
      a {
        color: #F7F4DE;
        text-decoration: none;
      }
    }
  }
}

.section-news .headlines {
  background-color: #F7F4DE;
  width: 195px;
}

.section-news .headlines .pane-title {
  background-color: #004538;
  @include background-image(linear-gradient(#015B4A, #004538 90%));
  margin-top: 0;
  color: #E5DEA8;
  text-decoration: none;
  padding-left: 15px;
  padding-bottom: 10px;
  letter-spacing: 2px;
  font-size: 16px;
  @include font-copperplate;
  position: relative;
}

.headlines .views-field-title {
  line-height: 18px;
  padding-bottom: 20px;
}

.headlines .views-field-title a {
  @include font-myriadpro_semibold;
  font-size: 14px;
  color: #007161;
  text-decoration: none;
}

.headlines .views-row {
  border-top: 1px solid #D7D3AB;
  padding: 10px 0;
  margin: 0 15px;
}

.headlines .views-row-first {
  border-top: none;
  padding-top: 0;
}

.section-news .news {
  background-color: #F7F4DE;
  width: 195px;
}

.section-news .news .pane-title {
  background-color: #004538;
  @include background-image(linear-gradient(#015B4A, #004538 90%));
  margin-top: 0;
  color: #E5DEA8;
  text-decoration: none;
  padding-left: 15px;
  padding-bottom: 10px;
  letter-spacing: 2px;
  font-size: 16px;
  @include font-copperplate;
  position: relative;
}

.news ul {
  padding: 0;
  margin: -10px 0 0 0;
}

.news li {
  border-top: 1px solid #D7D3AB;
  padding-top: 15px;
  margin: 0 15px;
}

.news li.leaf {
  list-style-image: none;
  list-style-type: none;
}

.news li.first {
  border-top: none;
  padding-top: 15px;
  margin: 0 15px;
}

.news li a {
  @include font-myriadpro_semibold;
  font-size: 14px;
  color: #007161;
  text-decoration: none;
  padding-bottom: 15px;
  display: block;
}

.node-type-news #content {
  margin-top: 25px;
}

.node-type-news .title {
  @include font-myriadprocondensed;
  position: relative;
  z-index: 100;
  background-color: rgba(1, 90, 73, 0.5);
  color: #FFD457;
  padding: 5px 30px;
  font-size: 32px;
  line-height: 1em;
  height: 65px;
}

.node-type-news .masthead {
  position: relative;
  top: -150px;
}

.node-type-news .field-name-field-news-author, .node-type-news .field-name-field-news-published {
  @include font-myriadprocondensed_bold;
  color: #007161;
  font-size: 18px;
  background-color: rgba(235, 234, 213, 0.7);
  height: 30px;
  padding: 5px 0 0 30px;
}

.node-type-news .field-name-field-news-published {
  margin-bottom: -152px;
}

.node-type-news .field-name-body, .node-type-testimonial .field-name-body {
  background-color: #F7F4DE;
  padding-top: 35px;
  padding-bottom: 30px;

  p {
    margin: 1em 30px;
    @include font-myriadpro;
    color: #575757;
    line-height: 18px;
  }
}

.node-type-news .tabs {
  position:relative;
  z-index: 200;
}

.page-testimonials h1, .section-search h1, .not-front h1 {
  text-transform: uppercase;
  font-size: 32px;
  @include font-myriadprocondensed;
  color: #FFD457;
  background-color: #004538;
  @include background-image(linear-gradient(#015B4A, #004538 90%));
  padding-left: 15px;
  margin: 0;
}

.section-testimonials #content, .section-search #content, .not-front #content {
  background-color: #F7F4DE;
  margin-top: 40px;
  padding: 0;
}

.section-search #content {
  padding: 0 15px;
}

.section-search h1 {
  margin: 0 -15px 20px;
}

.section-search .item-list {
  margin: 0 -15px;
}

.section-search {
  @include font-myriadpro;
  font-size: 14px;
  color: #575757;
  line-height: 18px;
  margin-bottom: 25px;
}

.section-search a {
  @include font-myriadpro_semibold;
  font-size: 14px;
  color: #007161;
  text-decoration: none;
}

.node-type-testimonial .title {
  @include font-myriadprocondensed;
  position: relative;
  z-index: 100;
  background-color: rgba(1, 90, 73, 0.5);
  color: #FFD457;
  padding: 5px 15px;
  font-size: 32px;
  line-height: 1em;
  height: 65px;
  top: -150px;
}

.node-type-testimonial .field-name-body, .not-front .field-name-body {
  padding: 0 15px;
}

.node-type-testimonial .field-name-field-testimonial-major,
.node-type-testimonial .field-name-field-testimonial-grad-year {
    @include font-myriadprocondensed_bold;
    background-color: rgba(235, 234, 213, 0.7);
    color: #007161;
    font-size: 18px;
    height: 30px;
    padding: 5px 0 0 15px;
    position: relative;
    top: -150px;
}

.node-type-testimonial .field-name-field-testimonial-grad-year {
  margin-bottom: -150px;
}

.section-testimonials .view-testimonial .views-field-title a,
.view-testimonial .testimonial-title a {
  @include font-myriadpro_semibold;
  font-size: 14px;
  color: #007161;
  text-decoration: none;
}

.section-testimonials .view-testimonial .views-field-field-testimonial-image {
  margin: 0 -15px;
}

.section-testimonials .view-testimonial .views-field-body {
  @include font-myriadpro;
  font-size: 14px;
  color: #575757;
  line-height: 18px;
  margin-bottom: 25px;
}

.section-testimonials .view-testimonial .views-row {
    margin: 0 15px;
}

.section-testimonials .view-testimonial .views-row-first {
  padding: 0;
}
