/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
/* Fonts */
/*
 * Center the page.
 */
/* line 52, ../../sass/layouts/responsive-sidebars.scss */
#page,
.region-bottom {
  /* For screen sizes larger than 1200px, prevent excessively long lines of text
     by setting a max-width. */
  margin-left: auto;
  margin-right: auto;
  max-width: 622px;
}

/* line 60, ../../sass/layouts/responsive-sidebars.scss */
.l-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
}

/* line 66, ../../sass/layouts/responsive-sidebars.scss */
#navigation {
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
}

/*
 * Apply the shared properties of grid items in a single, efficient ruleset.
 */
/* line 82, ../../sass/layouts/responsive-sidebars.scss */
#header,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer {
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/*
 * Containers for grid items and flow items.
 */
/* line 52, /Users/cdracars/Dropbox/ubuntu64-lucid/www/drupal/profiles/d7_usao_edu/themes/mission_respondable/sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#header:before, #header:after,
#main:before,
#main:after,
#footer:before,
#footer:after {
  content: "";
  display: table;
}
/* line 56, /Users/cdracars/Dropbox/ubuntu64-lucid/www/drupal/profiles/d7_usao_edu/themes/mission_respondable/sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#header:after,
#main:after,
#footer:after {
  clear: both;
}

@media all and (max-width: 630px) {
  /*
   * Use 3 grid columns for smaller screens.
   */
  /* line 102, ../../sass/layouts/responsive-sidebars.scss */
  .html {
    background: transparent;
    background-color: #083228;
  }

  /* line 107, ../../sass/layouts/responsive-sidebars.scss */
  .html nav[role="navigation"] {
    margin-bottom: -75px;
  }
  /* line 110, ../../sass/layouts/responsive-sidebars.scss */
  .html nav[role="navigation"] h2 {
    display: none;
  }
  /* line 114, ../../sass/layouts/responsive-sidebars.scss */
  .html nav[role="navigation"] ul {
    display: none;
    height: 100%;
  }
  /* line 119, ../../sass/layouts/responsive-sidebars.scss */
  .html nav[role="navigation"] label {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #015b4a), color-stop(90%, #004538));
    background-image: -webkit-linear-gradient(#015b4a, #004538 90%);
    background-image: -moz-linear-gradient(#015b4a, #004538 90%);
    background-image: -o-linear-gradient(#015b4a, #004538 90%);
    background-image: -ms-linear-gradient(#015b4a, #004538 90%);
    background-image: linear-gradient(#015b4a, #004538 90%);
    font-family: "Copperplate Gothic Bold", "Copperplate Gothic Light", Copperplate, "kelvingrove-1", "kelvingrove-2", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    color: #e5dea8;
    background-color: blue;
    position: relative;
    display: block;
    height: 25px;
    margin: 0 0 25px 0;
    padding: 2px;
    width: 98%;
  }
  /* line 133, ../../sass/layouts/responsive-sidebars.scss */
  .html nav[role="navigation"] label:after {
    position: absolute;
    content: "Menu";
  }
  /* line 139, ../../sass/layouts/responsive-sidebars.scss */
  .html nav[role="navigation"] input:checked ~ ul {
    display: block;
  }
  /* line 142, ../../sass/layouts/responsive-sidebars.scss */
  .html nav[role="navigation"] input:checked ~ ul > li {
    width: 100%;
  }

  /* line 148, ../../sass/layouts/responsive-sidebars.scss */
  .html #logo {
    float: left;
    width: 33.333%;
    margin-left: 0%;
    margin-right: -33.333%;
    padding: 5px 0;
    border-right: none;
  }

  /* line 154, ../../sass/layouts/responsive-sidebars.scss */
  .html .block-search {
    float: left;
    width: 33.333%;
    margin-left: 50%;
    margin-right: -83.333%;
    padding: 5px 0;
    margin-bottom: 0;
    height: 25px;
  }
  /* line 160, ../../sass/layouts/responsive-sidebars.scss */
  .html .block-search .custom-search-default-value {
    width: 100%;
    margin-left: 0;
  }
  /* line 165, ../../sass/layouts/responsive-sidebars.scss */
  .html .block-search .form-submit {
    position: relative;
    top: -37px;
    right: -100%;
    margin-bottom: -18px;
    margin: 12px;
    padding: 0;
  }

  /* line 175, ../../sass/layouts/responsive-sidebars.scss */
  .html #block-menu-menu-header-navigation {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    clear: left;
  }
  /* line 179, ../../sass/layouts/responsive-sidebars.scss */
  .html #block-menu-menu-header-navigation ul {
    padding: 0;
    margin: 0;
  }
  /* line 183, ../../sass/layouts/responsive-sidebars.scss */
  .html #block-menu-menu-header-navigation ul li {
    border: none;
    padding: 5px 10px 5px 0;
  }

  /* line 190, ../../sass/layouts/responsive-sidebars.scss */
  .html #navigation {
    margin-top: 15px;
  }
  /* line 192, ../../sass/layouts/responsive-sidebars.scss */
  .html #navigation li.last {
    width: 38%;
  }

  /* line 197, ../../sass/layouts/responsive-sidebars.scss */
  .html .mission-statement {
    margin-bottom: -5px;
    margin-top: 60px;
  }

  /* line 202, ../../sass/layouts/responsive-sidebars.scss */
  .html .pane-views-viewbook-block {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    clear: left;
  }
  /* line 206, ../../sass/layouts/responsive-sidebars.scss */
  .html .pane-views-viewbook-block .views-field-body {
    padding-top: 30px;
  }
  /* line 210, ../../sass/layouts/responsive-sidebars.scss */
  .html .pane-views-viewbook-block .flex-control-nav {
    top: -95px;
    left: -5px;
  }
  /* line 215, ../../sass/layouts/responsive-sidebars.scss */
  .html .pane-views-viewbook-block .views-field-body .field-content {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
  }
  /* line 219, ../../sass/layouts/responsive-sidebars.scss */
  .html .pane-views-viewbook-block span.views-label {
    display: none;
  }

  /* line 224, ../../sass/layouts/responsive-sidebars.scss */
  .html .pane-mission-respondable-front-buttons-front-buttons {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    clear: left;
  }
  /* line 228, ../../sass/layouts/responsive-sidebars.scss */
  .html .pane-mission-respondable-front-buttons-front-buttons .button-link {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    clear: left;
  }
  /* line 232, ../../sass/layouts/responsive-sidebars.scss */
  .html .pane-mission-respondable-front-buttons-front-buttons .button-link:hover {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
  }

  /* line 238, ../../sass/layouts/responsive-sidebars.scss */
  .html .pane-views-testimonial-block {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    clear: left;
    margin-bottom: 25px;
  }
  /* line 245, ../../sass/layouts/responsive-sidebars.scss */
  .html .pane-views-testimonial-block .views-field-title, .html .pane-views-testimonial-block .views-field-body, .html .pane-views-testimonial-block .views-field-path {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    clear: left;
  }
  /* line 250, ../../sass/layouts/responsive-sidebars.scss */
  .html .pane-views-testimonial-block .views-field-title {
    margin-top: 0;
  }
  /* line 254, ../../sass/layouts/responsive-sidebars.scss */
  .html .pane-views-testimonial-block .views-field-body .field-content {
    padding-left: 25px;
  }

  /* line 259, ../../sass/layouts/responsive-sidebars.scss */
  .html .pane-views-featured-news-block {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    clear: left;
  }
  /* line 263, ../../sass/layouts/responsive-sidebars.scss */
  .html .pane-views-featured-news-block li {
    clear: left;
    padding: 0;
  }
  /* line 268, ../../sass/layouts/responsive-sidebars.scss */
  .html .pane-views-featured-news-block .pane-title {
    margin-top: 0;
  }
  /* line 275, ../../sass/layouts/responsive-sidebars.scss */
  .html .pane-views-featured-news-block .views-field-title {
    clear: left;
    height: auto;
    margin: 10px -5px;
    padding: 0;
    display: block;
    width: 100%;
  }

  /* line 285, ../../sass/layouts/responsive-sidebars.scss */
  .html .icon-coplac_logo {
    display: block;
    margin-left: 0;
  }

  /* line 290, ../../sass/layouts/responsive-sidebars.scss */
  .html .icon-waht_will_they_learn_logo {
    display: block;
  }

  /* line 294, ../../sass/layouts/responsive-sidebars.scss */
  .html .block-mission-respondable-footer p {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    margin: 0;
  }

  /* line 299, ../../sass/layouts/responsive-sidebars.scss */
  .html #block-mission-respondable-footer-footer-contact {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    clear: left;
    background: none;
    height: auto;
    margin: 0;
  }

  /* line 307, ../../sass/layouts/responsive-sidebars.scss */
  .html #block-menu-menu-footer-navigation {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    clear: left;
    margin-top: 0;
    line-height: 12px;
  }
  /* line 313, ../../sass/layouts/responsive-sidebars.scss */
  .html #block-menu-menu-footer-navigation ul, .html #block-menu-menu-footer-navigation .menu {
    margin: 0;
    padding: 0;
  }
  /* line 318, ../../sass/layouts/responsive-sidebars.scss */
  .html #block-menu-menu-footer-navigation .last {
    padding-top: 5px;
  }
}
@media all and (min-width: 631px) and (max-width: 959px) {
  /*
   * Use 3 grid columns for smaller screens.
   */
  /*
   * The layout when there is only one sidebar, the left one.
   */
  /* line 336, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first #content {
    /* Span 2 columns, starting in 2nd column from left. */
    float: left;
    width: 66.667%;
    margin-left: 33.333%;
    margin-right: -100%;
  }
  /* line 340, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first .region-sidebar-first {
    /* Span 1 column, starting in 1st column from left. */
    float: left;
    width: 33.333%;
    margin-left: 0%;
    margin-right: -33.333%;
  }

  /*
   * The layout when there is only one sidebar, the right one.
   */
  /* line 350, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second #content {
    /* Span 2 columns, starting in 1st column from left. */
    float: left;
    width: 66.667%;
    margin-left: 0%;
    margin-right: -66.667%;
  }
  /* line 354, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second .region-sidebar-second {
    /* Span 1 column, starting in 3rd column from left. */
    float: left;
    width: 33.333%;
    margin-left: 66.667%;
    margin-right: -100%;
  }

  /*
   * The layout when there are two sidebars.
   */
  /* line 364, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars #content {
    /* Span 2 columns, starting in 2nd column from left. */
    float: left;
    width: 66.667%;
    margin-left: 33.333%;
    margin-right: -100%;
  }
  /* line 368, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-first {
    /* Span 1 column, starting in 1st column from left. */
    float: left;
    width: 33.333%;
    margin-left: 0%;
    margin-right: -33.333%;
  }
  /* line 372, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second {
    /* Start a new row and span all 3 columns. */
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 0;
    padding-right: 0;
    clear: left;
  }
  /* line 377, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second .block {
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 380, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second .block:nth-child(3n+1) {
    /* Span 1 column, starting in the 1st column from left. */
    float: left;
    width: 33.333%;
    margin-left: 0%;
    margin-right: -33.333%;
    clear: left;
  }
  /* line 384, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second .block:nth-child(3n+2) {
    /* Span 1 column, starting in the 2nd column from left. */
    float: left;
    width: 33.333%;
    margin-left: 33.333%;
    margin-right: -66.667%;
  }
  /* line 387, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second .block:nth-child(3n) {
    /* Span 1 column, starting in the 3rd column from left. */
    float: left;
    width: 33.333%;
    margin-left: 66.667%;
    margin-right: -100%;
  }
}
@media all and (min-width: 960px) {
  /*
   * Use 5 grid columns for larger screens.
   */
  /*
   * The layout when there is only one sidebar, the left one.
   */
  /* line 405, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first #content {
    /* Span 4 columns, starting in 2nd column from left. */
    float: left;
    width: 80%;
    margin-left: 20%;
    margin-right: -100%;
  }
  /* line 409, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first .region-sidebar-first {
    /* Span 1 column, starting in 1st column from left. */
    float: left;
    width: 20%;
    margin-left: 0%;
    margin-right: -20%;
  }

  /*
   * The layout when there is only one sidebar, the right one.
   */
  /* line 419, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second #content {
    /* Span 4 columns, starting in 1st column from left. */
    float: left;
    width: 80%;
    margin-left: 0%;
    margin-right: -80%;
  }
  /* line 423, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second .region-sidebar-second {
    /* Span 1 column, starting in 5th column from left. */
    float: left;
    width: 20%;
    margin-left: 80%;
    margin-right: -100%;
  }

  /*
   * The layout when there are two sidebars.
   */
  /* line 433, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars #content {
    /* Span 3 columns, starting in 2nd column from left. */
    float: left;
    width: 60%;
    margin-left: 20%;
    margin-right: -80%;
  }
  /* line 437, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-first {
    /* Span 1 column, starting in 1st column from left. */
    float: left;
    width: 20%;
    margin-left: 0%;
    margin-right: -20%;
  }
  /* line 441, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second {
    /* Span 1 column, starting in 5th column from left. */
    float: left;
    width: 20%;
    margin-left: 80%;
    margin-right: -100%;
  }
}
