#alert {
  color: #fff;
  margin-bottom: -24px;
}
.view-alert {
  text-align: center;

  .views-row {
   // margin-top: -24px;
  }

  img, p, a {
    @include inline-block;
    margin-right: 20px;
  }

  .alert-text,
  .alert-image {
    @include inline-block;
  }

  .Info {
    @include background-image(linear-gradient(#2989cc, #acdbfc 90%));
  }

  .Warning {
    @include background-image(linear-gradient(#df5f00, #fdc398 90%));
  }

  .Danger {
    @include background-image(linear-gradient(#ff0000, #f87a7a 90%));
  }
}


