.announcements-block {
  ul {
    list-style: none;
    margin: 15px 0;
    padding: 0 15px;
    li {
      border-top: 1px solid $divider;
      clear: both;
      margin-top: 10px;
      padding-top: 10px;

      &.views-row-first {
        border-top: 0;
        margin-top: 0;
        padding-top: 0;
      }
    }
    p,
    h3 {
      padding: 0;
    }
    .views-field-nothing {
      clear: both;
    }
  }
  .announcements-block__image {
    float: left;
    padding-right: 10px;
  }
}
