.panels-flexible-region-13-center {
  width: 100%;
}

.node-type-announcements .masthead a {
    color: $attention-gold;
    text-decoration: none;
}

.node-type-announcements {
  .views-field-field-announcement-image img {
    display: block;
  }
  .views-field-body p {
    color: $body_text;
    font-family: "myriad-pro-1","myriad-pro-2",sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    margin: 0;
    padding: 1em 30px;
  }
}

@media all and (min-width: 481px) { //HARD BREAK POINT
}

@media all and (min-width: 651px) { //HARD BREAK POINT
}

@media all and (min-width: 960px) { //HARD BREAK POINT
}
