.announcements-block {
   ul {
     list-style: none;
     padding: 0 15px;
     margin: 15px 0;

       li {
          border-top: 1px solid $divider;
          clear: both;
          margin-top: 10px;
          padding-top: 10px;

          &.views-row-first {
            border-top: none;
            margin-top: 0;
            padding-top: 0;
          }
      }

      p, h3 {
        padding: 0;
      }
  }

  .announcements-block__image {
    float: left;
    padding-right: 10px;
  }
}
