.page-athletics {
  #content {
    max-width: 1024px;
    border-left: 3px solid #FFFFFF;
    border-right: 3px solid #FFFFFF;
    margin-top: 0;
  }

  #page-title {
    @include font-galette;
    @include rotate(-90deg);
    background-color: #797979;
    background-image: none;
    border-top: 2px solid #81B7B1;
    color: #FFEFBC;
    font-size: 1.433em;
    left: -263px;
    letter-spacing: 4px;
    margin: 0;
    padding: 0 10px 0 0;
    position: relative;
    text-align: right;
    top: 485px;
    z-index: 3;
  }

  #main {
    background: url("../images/athletics-bkg.png");
    margin-top: 0;
    overflow: hidden;
  }

  .panel-display {
    @include background-image(linear-gradient(to right, rgba(60, 75, 64, 1) 0%, rgba(60, 75, 64, 1) 24%, rgba(255,219,123,1) 24%, rgba(255, 219, 123, 1) 100%));
    position: relative;
  }

  .pane-menu-menu-athletics {
    @include font-galette;
    position: relative;
    margin: 0;

    .pane-title {
      @include background-image(linear-gradient(to bottom, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0) 8%));
      @include font-galette;
      @include rotate(-90deg);
      background-color: #FFEFBC;
      color: #575757;
      font-size: 44px;
      left: -487px;
      margin: 0;
      padding: 0 10px 0 0;
      position: relative;
      text-align: right;
      text-transform: uppercase;
      top: 439px;
      z-index: 3;
    }

    .menu {
      background-color: #3C4B40;
      left: 1px;
      margin: 0;
      padding: 0 0 0 43px;
      position: absolute;
      top: -44px;

      li {
        width: 184px;
      }

      .last a {
        border-bottom-color: #81B7B1;
      }

      a {
        border-bottom: 2px solid #797979;
        color: #FEEFAD;
        display: block;
        padding: 3px 0 3px 20px;
      }
    }
  }

  .pane-menu-menu-athletics-media {
    @include font-galette;
    font-size: 18px;
    margin-bottom: 0;
    padding-left: 44px;
    width: 184px;

    .menu {
      background-color: #3C4B40;
      margin: 8px 0 0 0;
      padding: 10px 0;

      li {
        @include border-radius(10px);
        margin: 5px;
        padding: 5px;
        text-align: center;
      }

      .first {
        background-color: #A4A938;
        box-shadow: 0 0 10px 10px #857A1D inset;
      }

      .last {
        background-color: #007161;
        box-shadow: 0 0 10px 10px #00502E inset;
        padding: 17px;
      }

      a {
        color: #FEEFAD;
      }
    }
  }

  .pane-block-3 {
    background-color: #3C4B40;
    margin: 0 0 0 44px;
    padding-left: 8px;
    width: 176px;

    table {
      margin-top: 0;

      tbody {
        border: none;
      }
    }
  }

  .pane-athletics-news-panel-pane-1 {
    @include font-old-athletics;
    left: 264px;
    position: absolute;
    top: -36px;

    .pane-title {
      @include font-galette;
      background: none;
      color: #FFD457;
      display: inline;
      font-size: 18px;
      height: auto;
      position: absolute;
      right: 0;
      top: 0;
      width: 349px;
      z-index: 10;
    }

    .flexslider {
      background: none;
      border: none;
      box-shadow: none;

      .flex-direction-nav,
      .flex-control-nav {
        display: none;
      }

      .views-field-field-news-image {
        float: left;
        width: 375px;

        img {
          border-radius: 0 0 25px 0;
        }
      }

      .views-field-title {
        background-color: #00483A;
        float: left;
        padding: 35px 15px 0 15px;
        width: 349px;

        a {
          color: #FFD457;
        }
      }

      .views-field-body {
        background-color: #00483A;
        color: #FFEFBC;
        float: left;
        padding: 0 15px;
        width: 349px;

        p:nth-child(1) {
          margin-top: 10px;
        }
      }

      .views-field-view-node {
        background-color: #00483A;
        float: left;
        padding: 0 15px 40px 15px;
        text-transform: uppercase;
        width: 349px;

        a {
          color: #FFEFBC;
        }
      }
    }

    .views-slideshow-controls-top {
      position: absolute;
      border: 1px solid red;

      #views_slideshow_controls_text_previous_athletics_news-panel_pane_1,
      #views_slideshow_controls_text_pause_athletics_news-panel_pane_1 {
        display: none;
      }
    }
  }

  .pane-athletics-blurbs-panel-pane-1 {
    @include font-old-athletics;
    background-color: #FFD457;
    border: 3px solid #FFFFFF;
    border-radius: 18px 0 0 18px / 100px 0 0 100px;
    border-right: none;
    height: 207px;
    position: absolute;
    right: 0;
    top: 145px;
    width: 393px;
    z-index: 3;

    .views-row {
      padding: 0 181px 0 30px;
    }

    .views-field-field-blurb-image {
      position: absolute;
      right: 0;
      top: 0;
    }

    .views-field-title {
      padding-top: 40px;
    }
  }

  .pane-athletics-schedule-results-panel-pane-3 {
    margin-left: 264px;
  }

  #navigation {
    @include background-image(linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 10%), linear-gradient(to bottom, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0.65) 100%));
    padding: 12px 0;
    margin-top: 0;
    background-color: #007362;
    box-shadow: 3px 0 5px inset;
  }
}