.page-athletics {
  #content {
    max-width: 1024px;
    border-left: 3px solid #FFFFFF;
    border-right: 3px solid #FFFFFF;
    margin-top: 0;
  }

  #page-title {
    background-color: #797979;
    background-image: none;
    color: #FFEFBC;
    font-size: 1.833em;
    left: -250px;               // This is a place holder left adjustment. We will put the real number in after we have tested.
    letter-spacing: 4px;
    margin: 0;
    padding: 10px 0 0 0;
    position: relative;
    text-align: right;
    top: 485px;
    transform: rotate(-90deg);
  }

  #main {
    background: url("../images/athletics-bkg.png");
  }

  .pane-menu-menu-athletics {
    position: relative;

    .pane-title {
      @include font-galette;
      background-color: #FFEFBC;
      background-image: linear-gradient(to bottom, rgba(0,0,0,0.30) 0%,rgba(0,0,0,0) 8%);
      color: #575757;
      font-size: 44px;
      left: -487px;
      margin: 0;
      padding: 10px 0 0 0;
      position: relative;
      text-align: right;
      text-transform: uppercase;
      top: 439px;
      transform: rotate(-90deg);
    }

    .menu {
      left: 0;
      margin: 0;
      padding: 0 0 0 43px;
      position: absolute;
      top: 0;
    }
  }

  #navigation {
    padding: 12px 0;
    margin-top: 0;
    background-color: #007362;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 10%), linear-gradient(to bottom, rgba(0,0,0,0) 90%,rgba(0,0,0,0.65) 100%);
    box-shadow: 3px 0 5px inset;
  }
}