/* General / Cell Phone */
.button-block {
  margin-bottom: 0;
  position: relative;
  left: -3px;
}

.button-block__link {
  width: 100%;
  margin-bottom: 15px;
  padding: 20px 0;
  list-style: none;
  color: $attention-gold;
  text-align: center;
  border: 2px solid $background;
  @include background-image(linear-gradient($gradient-green_light, $gradient-green_dark 90%));
  text-decoration: none;
  display: inline-block;

  &.last {
    margin-right: -5px;
  }

  &:hover{
    border: 2px solid $attention-gold;
  }
}

@media all and (min-width: 481px) { //HARD BREAK POINT  Tablet 1
  /*
   * Use 3 grid columns for special layouts on smaller screens.
   */
  $zen-column-count: 3;
}

@media all and (min-width: 651px) { //HARD BREAK POINT Tablet 2
  /*
   * Use 5 grid columns for smaller screens.
   */
  $zen-column-count: 5;

  .current-students .button-block__link {
    &.last {
      padding-top: 8px;
      padding-bottom: 7px;
    }
  }
	
  .button-block {
    @include zen-clear();
    clear: left;
    height: 80px;

    .button-block__link {
      @include zen-grid-item(1.55, 2.7);
      min-height: 43px;
      padding: 20px 0 0;

      &.first {
        @include zen-grid-item(1.55, 1);
      }

      &.last {
        @include zen-grid-item(1.55, 4.4);
      }
    }
  }
}

@media all and (min-width: 960px) { //HARD BREAK POINT Desktop
  /*
   * Use 12 grid columns for larger screens.
   */
  $zen-column-count: 12;

  .button-block {
    @include zen-clear();
    float: none;
    padding: 0;

    .button-block__link {
      @include zen-grid-item(3.636, 5.1);

      &.first {
        @include zen-grid-item(3.636, 1);
      }

      &.last {
        @include zen-grid-item(3.636, 9.2);
      }
    }
  }
}
