//* General / Cell Phone.
.button-block {
  left: -3px;
  margin-bottom: 0;
  position: relative;
}
.button-block__link {
  @include background-image(linear-gradient($gradient-green_light, $gradient-green_dark 90%));
  @include inline-block;
  border: 2px solid $background;
  color: $attention-gold;
  list-style: none;
  margin-bottom: 15px;
  padding: 20px 0;
  text-align: center;
  text-decoration: none;
  width: 100%;
  &.last {
    margin-right: -5px;
  }
  &:hover {
    border: 2px solid $attention-gold;
  }
}

