 // Use 1 grid columns for smaller screens.
 // All generic code goes here.
$zen-column-count: 1;
.section-calendar h1 {
  margin: 0;
}
.view {
  .date-prev {
    right: 100px;
    top: 7px;
    a {
      color: $primary_nav;
    }
  }
  .date-next {
    right: 40px;
    top: 7px;
    a {
      color: $primary_nav;
    }
  }
}

