/* Colors */
$topbar-link_color: #E5DEA8;
$primary-nav: #007161;
$event-active: #C5C6A7;
$body-text: #575757;
$divider-bar: #D7D3AB;
$box-background: #F7F4DE;
$divider: #DBD6AE;
$background: #083228;
$gradient-green_dark: #004538;
$gradient-green_light: #015B4A;
$attention-gold: #FFD457;
$shadow-grey: #777777;
