/*
 * Use 1 grid columns for smaller screens.
 * All generic code goes here.
 */
$zen-column-count: 1;

.contact-block {
  
  ul {
    display: inline;
    margin: 0;
    position: relative;
    padding: 6px 0;
    z-index: 1;
    list-style: none;

    li {
      display: inline-block;
      text-align: center;
      width: 100%;
      &.fb {
        background: url("../images/like.png") no-repeat scroll 9px 6px rgba(0, 0, 0, 0);
      }
    }
  }
  .view {
    display: inline-block;
    font-size: 12px;
  }
}

.contact-block__jtrigger {
  text-transform: uppercase;
  color: $primary_nav;
  position: relative;
}

.contact-block__jcontent {
  border: 1px solid $background;
  border-radius: 3px;
  color: $background;
  position: absolute;
  top: -1;
  width: 99%;
  left: 0;
}

@media all and (min-width: 393px) {/*Soft Breakpoint */
  .contact-block {
    ul li {
      text-align: center;
      width: 50%;
    }
  }
}

@media all and (min-width: 481px) { //HARD BREAKPOINT
  /*
   * Use 3 grid columns for special layouts on smaller screens.
   */
  $zen-column-count: 3;
}

@media all and (min-width: 581px) {
  .contact-block {
    ul li {
      width: 33.3%;
    }
  }

  .contact-block__jcontent {
    margin: 0;
  }
  
  .contact-block ul li.fb {
    background: url("../images/like.png") no-repeat scroll 0 4px rgba(0, 0, 0, 0);
  }
}

@media all and (min-width: 651px) { //HARD BREAKPOINT
  /*
   * Use 5 grid columns for smaller screens.
   */
  $zen-column-count: 5;

  .contact-block {
    .pane-title {
      display: inline-block;
      padding: 10px 10px 11px;
      width: auto;
      margin-right: 5px;
    }

    ul li {
      border-right: 1px solid $background;
      font-size: 13px;
      line-height: 1.3em;
      padding: 0 7px;
      width: auto;
      &:nth-child(1) {
        padding-left: 0;
      }
      &.fb {
        background: url("../images/like.png") no-repeat scroll 9px 2px rgba(0, 0, 0, 0);
        padding: 0 0 0 26px;
      }
      &.last {
        border: none;
      }
    }
  }

  .contact-block__jcontent {
    top: 17px;
  }
}

@media all and (min-width: 960px) { //HARD BREAKPOINT
  /*
   * Use 12 grid columns for larger screens.
   */
  $zen-column-count: 12;
}
