.directory-block,
.page-directory {
  
  .view-content ul {
    list-style: none;
    padding: 0 15px;
    margin: 15px 0;

    li {
      border-top: 1px solid $divider;
      clear: both;
      margin-top: 10px;
      padding-top: 10px;
      &.views-row-first {
        border-top: none;
        margin-top: 0;
        padding-top: 0;
      }
      &.views-rof-last {
        padding-bottom: 10px;
      }
    }
  }
  
  .directory__name {
    color: $primary_nav;
    font-family: "myriad-pro-condensed-1","myriad-pro-condensed-2",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: 18px;
    margin: 0;
    text-decoration: none;
    padding: 0;
  }

  .directory__title {
    color: $body_text;
    font-size: 0.9em;
    line-height: 1.3em;
    padding-top: 0;
    font-size: 12px;
  }

  .directory__photo {
    float: left;
    margin-right: 10px;
  }
}

.page-directory {
  h1#page-title {
    margin: 0;
  }
  .pane-directory-directory {
    padding: 10px;
  }
  #views-exposed-form-directory-directory .views-exposed-widget {
    font-size: 12px;
    line-height: 19px;
  }
}

@media all and (min-width: 481px) { //HARD BREAK POINT
  .directory__photo {
    img {
      max-height: 100%;
    }
  }
}

@media all and (min-width: 651px) { //HARD BREAK POINT
  .directory__photo {
    img {
      max-height: 80px; 
    }
  }

  .directory-block {
    .view-content ul li.views-row-last {
      padding-bottom: 0;
    }
  }
}

@media all and (min-width: 960px) { //HARD BREAK POINT
}
