.directory-block,
.page-directory {
  .directory-listing {
    list-style: none;
    padding: 0 15px;
    h3 {
      padding: .5em 0;
      &.field-content{
        padding: 0;
      }
    }
    li {
      border-top: 1px solid $divider;
      clear: both;
      margin-top: 10px;
      padding-top: 10px;
    } 
    .views-row {
      border-top: 1px solid $divider;
      clear: both;
      margin-top: 10px;
      padding-top: 10px;
    }
    .views-row-first {
      border-top: 0;
      padding-top: 0;
    }
  }
  .directory__name {
    @include font-myriadprocondensed_bold;
    color: $primary_nav;
    font-size: 16px;
    line-height: 18px;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  .directory__title {
    color: $body_text;
    font-size: .9em;
    font-size: 14px;
    line-height: 1.3em;
    padding-top: 0;
  }
  .directory__photo {
    float: left;
    margin-right: 10px;
  }
  .item-list {
    li {
      margin: 0;
    }
  }
  .views-row-last {
    padding-bottom: 10px;
  }
}
.page-directory {
  #page-title {
    margin: 0;
  }
  .form-item {
    padding: 0 0 0 10px;
  }
  .view-header-link {
    padding: .5em 15px;
  }
  .views-row-first {
    margin-top: 1.5em;
  }
  .views-row-last,
  ul {
    border-bottom: 1px solid $body_text;
    margin-bottom: 1.2em;
    padding-bottom: 1.5em;
    &:nth-last-child(1) {
      border-bottom: 0;
      padding-bottom: 0;
    }
  }
  .views-exposed-widgets {
    font-size: 12px;
    line-height: 19px;
    margin-bottom: 0;
    label {
      padding-left: 10px;
    }
    button, 
    input,
    select {
      font-size: 12px;
      line-height: 19px;
      max-width: 280px;
    }
  }
}
.page-directory-sort-admin {
  table {
    width: 100%;
  }
  .draggable a.tabledrag-handle {
    margin-left: 0;
  }
}

