.directory-block,
.page-directory {
  .view-content {
    list-style: none;
    margin: 15px 0;
    padding: 0 15px;
    li {
      border-top: 1px solid $divider;
      clear: both;
      margin-top: 10px;
      padding-top: 10px;
    }
    .views-row-first {
      border-top: 0;
      margin-top: 0;
      padding-top: 0;
    }
    .views-rof-last {
      padding-bottom: 10px;
    }
  }
  .directory__name {
    @include font-myriadpro_bold;
    color: $primary_nav;
    font-size: 16px;
    line-height: 18px;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  .directory__title {
    color: $body_text;
    font-size: .9em;
    font-size: 14px;
    line-height: 1.3em;
    padding-top: 0;
  }
  .directory__photo {
    float: left;
    margin-right: 10px;
  }
}
.page-directory {
  #page-title {
    margin: 0;
  }
  .pane-directory-directory {
    padding: 10px;
    ul {
      border-bottom: 1px solid $body_text;
      padding-bottom: 10px;
      &:nth-last-child(1) {
        border-bottom: 0;
        padding-bottom: 0;
      }
    }
  }
  .views-exposed-widget {
    font-size: 12px;
    line-height: 19px;
    button, 
    input,
    select {
      font-size: 12px;
      line-height: 19px;
    }
  }
}
.page-directory-sort-admin {
  table {
    width: 100%;
  }
  .draggable a.tabledrag-handle {
    margin-left: 0;
  }
}
@media all and (min-width: 481px) { //HARD BREAK POINT
  .directory__photo {
    img {
      max-height: 100%;
    }
  }
}
@media all and (min-width: 651px) { //HARD BREAK POINT
  .directory__photo {
    img {
      max-height: 80px; 
    }
  }
  .directory-block {
    .view-content li.views-row-last {
      padding-bottom: 0;
    }
    .directory__title {
      font-size: 12px;
    }
  }
}
@media all and (min-width: 960px) { //HARD BREAK POINT
}
