/*
 * Use 1 grid columns for smaller screens.
 * All generic code goes here.
 */
$zen-column-count: 1;

.node-type-divisons h1#page-title {
  display: none;
}


@media all and (min-width: 481px) { //HARD BREAKPOINT
  /*
   * Use 3 grid columns for special layouts on smaller screens.
   */
  $zen-column-count: 3;
}

@media all and (min-width: 651px) { //HARD BREAKPOINT
  /*
   * Use 5 grid columns for smaller screens.
   */
  $zen-column-count: 5;
}

@media all and (min-width: 960px) { //HARD BREAKPOINT
  /*
   * Use 12 grid columns for larger screens.
   */
  $zen-column-count: 12;
}
