@import "../base.scss";

@media all and (max-width: 650px) {
  /*
   * Use 3 grid columns for smaller screens.
   */
  $zen-column-count: 3;

  .html .panel-pane.events {
    @include zen-clear();
    @include zen-grid-item(3, 1);
    margin-top: 25px;
  }

}


@media all and (min-width: 651px) and (max-width: 959px) {
  /*
   * Use 5 grid columns for smaller screens.
   */
  $zen-column-count: 5;

  .html .panel-pane.events {
    @include zen-grid-item(1.8, 4.2);
    margin-top: 25px;
  }
}

@media all and (min-width: 960px) {
  /*
   * Use 12 grid columns for larger screens.
   */
  $zen-column-count: 12;

  .html .panel-pane.events {
    @include zen-grid-item(4.4, 8.6);
    margin-top: 25px;
  }
}

