.panel-pane.events {
  background-color: #F7F4DE;
  padding: 0;
  margin-top: 25px;

  .event-date {
    border: 1px solid #004538;
    height: 48px;
    width: 61px;
    margin: 0 10px 10px 0;
    float: left;

    .event-day {
      @include font-myriadprocondensed_bold;
      font-size: 30px;
      color: #007161;
      line-height: 5px;
      margin-left: 10px;
    }

    .event-month {
      @include font-copperplate;
      font-size: 13px;
      color: #007161;
      line-height: 5px;
      margin-left: 10px;
    }

    .event-year {
      @include font-myriadprocondensed_bold;
      background-color: #004538;
      color: #E5DEA8;
      display: inline-block;
      margin-left: 29px;
      padding: 0 5px 2px;
      position: relative;
      top: -37px;
      @include rotate(-90deg);
      letter-spacing: 3px;
      line-height: 14px;
      overflow: hidden;
      margin-top: 5px;
    }
  }

  br {
    line-height: 0;
  }

  .views-row {
    margin: 10px;
    border-top: 1px solid $divider;
    padding: 15px 0;
    clear: both;

    &.views-row-first {
      border-top: none;
    }
  }

  .date_time {
    @include font-myriadprocondensed_semibold_italic;
    font-size: 15px;
    color: #575757;
    margin-top: 7px;
    line-height: 15px;
  }

  .views-field-nothing {
    float: left;
    width: 75px;
    margin-top: 15px;
  }

  .views-field-field-event-image {
    text-align: center;
  }

  .views-field-title {
    @include font-myriadprocondensed_bold;
    font-size: 14px;
    color: #575757;
    text-decoration: none;
    clear: both;

    a {
      color: $primary-nav;
      text-decoration: none;
    }
		h3 {
      font-size: 16px;
      font-style: normal;
      font-weight: bold;
      margin: 0;
      line-height: 18px;
		}
  }
}

.view-display-id-upcoming_events_list .views-exposed-widgets, .view-display-id-past_events_list .views-exposed-widgets {
  display: none;
}

@media all and (min-width: 481px) {
}

@media all and (min-width: 651px) {
}

@media all and (min-width: 960px) {
}
