@import "../base.scss";

@media all and (max-width: 650px) {
  /*
   * Use 3 grid columns for smaller screens.
   */
  $zen-column-count: 3;

  .html .panel-pane.events {
    @include zen-clear();
    @include zen-grid-item(3, 1);
    margin-top: 25px;
  }

}


@media all and (min-width: 651px) and (max-width: 959px) {
  /*
   * Use 5 grid columns for smaller screens.
   */
  $zen-column-count: 5;

  .html .panel-pane.events {
    @include zen-grid-item(1.8, 4.2);
    margin-top: 25px;
  }
}

@media all and (min-width: 960px) {
  /*
   * Use 12 grid columns for larger screens.
   */
  $zen-column-count: 12;

  .html .panel-pane.events {
    @include zen-grid-item(4.4, 8.6);
    margin-top: 25px;
    padding: 0;
  }
}

.view-events {

  .views-row {
    display: table;
  }

  .views-field-title,
  .views-field-nothing {
    display: table-cell;
    vertical-align: middle;
  }
}


.events {
  background-color: #F7F4DE;

  .event-date {
    border: 1px solid #004538;
    height: 48px;
    text-align: center;
    width: 61px;

    .event-day {
      @include font-myriadprocondensed_bold;
      font-size: 30px;
      color: #007161;
      line-height: 5px;
      margin-left: 10px;
    }

    .event-month {
      @include font-copperplate;
      font-size: 13px;
      color: #007161;
      line-height: 5px;
      margin-left: 10px;
    }

    .event-year {
      @include font-myriadprocondensed_bold;
      background-color: #004538;
      color: #E5DEA8;
      display: inline-block;
      margin-left: 29px;
      padding: 0 5px 1px;
      position: relative;
      top: -37px;
      @include rotate(-90deg);
      letter-spacing: 3px;
      line-height: 14px;
    }
  }

  br {
    line-height: 0;
  }

  .views-row {
    margin: 10px;
    border-top: 1px solid #056553;
    padding: 15px 0;

    &.views-row-first {
      margin-top: 0;
      border-top: none;
    }
  }

  .date_time {
    @include font-myriadprocondensed_semibold_italic;
    font-size: 12px;
    color: #007161;
    line-height: 5px;

    .date-display-single {
      margin-left: 15px;
    }

    .date-display-start {
      margin-left: -15px;
    }
  }

  .views-field-nothing {
    float: left;
    width: 75px;
    margin-top: 15px;
  }

  .views-field-title {
    @include font-myriadprocondensed_bold;
    font-size: 18px;
    color: #575757;
    text-decoration: none;

    a {
      color: #575757;
      text-decoration: none;
    }
  }
}
