/* Fonts */
$font-copperplate: "Copperplate Gothic Bold", "Copperplate Gothic Light", Copperplate, "kelvingrove-1", "kelvingrove-2", serif;
$font-myriadpro: "myriad-pro-1","myriad-pro-2",sans-serif;
$font-myriadprocondensed: "myriad-pro-condensed-1","myriad-pro-condensed-2",sans-serif;
$font-galette: "galette-1","galette-2",sans-serif;

@mixin font-copperplate {
  font-family: $font-copperplate;
  font-weight: 400;
  font-style: normal;
}

@mixin font-myriadpro {
  font-family: $font-myriadpro;
  font-weight: 400;
  font-style: normal;
}

@mixin font-myriadpro_semibold {
  font-family: $font-myriadpro;
  font-weight: 600;
  font-style: normal;
}

@mixin font-myriadpro_bold {
  font-family: $font-myriadpro;
  font-weight: 700;
  font-style: normal;
}

@mixin font-myriadpro_italic {
  font-family: $font-myriadpro;
  font-weight: 400;
  font-style: italic;
}

@mixin font-myriadprocondensed {
  font-family: $font-myriadprocondensed;
  font-weight: 400;
  font-style: normal;
}

@mixin font-myriadprocondensed_bold {
  font-family: $font-myriadprocondensed;
  font-weight: 700;
  font-style: normal;
}

@mixin font-myriadprocondensed_semibold_italic {
  font-family: $font-myriadprocondensed;
  font-weight: 600;
  font-style: italic;
}

@mixin font-galette {
  font-family: $font-galette;
}