/*
 * Use 1 grid columns for smaller screens.
 * All generic code goes here.
 */
$zen-column-count: 1;

.contact-jtrigger {
  text-transform: uppercase;
}

.act-jquery-content, .fafsa-jquery-content {
  background: $box-background;
  border: 1px solid $background;
  border-radius: 3px;
  color: $background;
  font-size: 18px;
  font-weight: normal;
  margin: -22px 0 0;
  position: absolute;
}

.student-contact-hide {
  display: none;
}

@media all and (min-width: 330px) {/*Soft Breakpoint */
  ul.student-contact-bar {
    li {
      text-align: center;
    }
  }
}

@media all and (min-width: 481px) { //HARD BREAKPOINT
  /*
   * Use 3 grid columns for smaller screens.
   */
  $zen-column-count: 3;
  
  ul.student-contact-bar {
    li {
      text-align: center;
    }
  }

  .act-jquery-content, .fafsa-jquery-content{
    margin: 0;
  }
}

@media all and (min-width: 651px) { //HARD BREAKPOINT
  /*
   * Use 5 grid columns for smaller screens.
   */
  $zen-column-count: 5;

    .views-field-field-announcement-image {
      float: left;
      padding-right: 10px;
    }

  .act-jquery-content, .fafsa-jquery-content{
    padding: 3px 6px;
  }

}

@media all and (min-width: 960px) { //HARD BREAKPOINT
  /*
   * Use 12 grid columns for larger screens.
   */
  $zen-column-count: 12;
}
