/*
 * Use 1 grid columns for smaller screens.
 * All generic code goes here.
 */
$zen-column-count: 1;

.panels-flexible-region-9-center {
  width: 100%;
}

.panels-flexible-region-new-center {
  width: 100%;
}

#content .pane-block-1 {/* block-1 is the id of the block */
  .view-content {
    width: 100%;
  }
}

ul.student-contact-bar {
  li {
    width: 100%;
  }
}

.view-display-id-testimonials_future_students {
  padding: 0;
  position: relative;
}

.act-jquery-content,
.fafsa-jquery-content {
  width: 100%
}

@media all and (min-width: 330px) {/*Soft Breakpoint */
  ul.student-contact-bar {
    li {
      width: 50%;
    }
  }
}


@media all and (min-width: 481px) { //HARD BREAKPOINT
  /*
   * Use 3 grid columns for smaller screens.
   */
  $zen-column-count: 3;
  
  ul.student-contact-bar {
    li {
      width: 33.3%;
    }
  }
}

@media all and (min-width: 651px) { //HARD BREAKPOINT
  /*
   * Use 5 grid columns for smaller screens.
   */
  $zen-column-count: 5;

  .act-jquery-content, .fafsa-jquery-content{
    width: auto;
  }
}

@media all and (min-width: 960px) { //HARD BREAKPOINT
  /*
   * Use 12 grid columns for larger screens.
   */
  $zen-column-count: 12;
}
