.view-display-id-testimonials_future_students {
  padding: 0;
  position: relative;
}

.pane-directory-mini-panes-future-students-directory {
  padding: 0;
  margin-top: 25px;
}
 
.pane-announcements-future-students-announcements {
  padding: 0;
  margin-top: 25px;
}

.page-future-students .panel-pane.events {
  float: none;
  padding: 0;
  margin-top: 25px;
}

.pane-menu-future-students-resources {
  padding: 0;
  margin-top: 25px;
}

@media all and (min-width: 481px) {
  /*
   * Use 3 grid columns for smaller screens.
   */
  $zen-column-count: 3;
}

@media all and (min-width: 651px) {
  /*
   * Use 5 grid columns for smaller screens.
   */
  $zen-column-count: 5;

  .pane-directory-mini-panes-future-students-directory {
    @include zen-grid-item(2, 1);
    padding: 0;
    margin-top: 10px;
  }

  .pane-announcements-future-students-announcements {
    @include zen-grid-item(2.75, 1, right);
    padding: 0;
    margin-top: 10px;
  }

  .page-future-students .panel-pane.events {
    @include zen-grid-item(2.75, 1, right);
    @include zen-clear(right);
    padding: 0;
    margin-top: 25px;
  }

  .pane-menu-future-students-resources {
    @include zen-clear(left);
    @include zen-grid-item(2, 1);
    padding: 0;
    margin-top: 25px;
  }
}

@media all and (min-width: 960px) {
  /*
   * Use 12 grid columns for larger screens.
   */
  $zen-column-count: 12;

  .pane-directory-mini-panes-future-students-directory {
    @include zen-grid-item(4.4, 1);
    padding: 0;
    margin-top: 10px;
  }
 
  .pane-announcements-future-students-announcements {
    @include zen-grid-item(7, 1, right);
    padding: 0;
    margin-top: 10px;
  }

  .page-future-students .panel-pane.events {
    @include zen-grid-item(7, 1, right);
    @include zen-clear(right);
    padding: 0;
    margin-top: 25px;
  }

  .pane-menu-future-students-resources {
    @include zen-clear(left);
    @include zen-grid-item(4.4, 1);
    padding: 0;
    margin-top: 25px;
  }
}
