.view-display-id-testimonials_future_students {
  padding: 0;
  position: relative;
}

.pane-directory-mini-panes-future-students-directory, 
.pane-announcements-future-students-announcements, 
.page-future-students .panel-pane.events, 
.pane-menu-menu-future-students-resources {
  padding: 0;
  margin-top: 0;
  margin-bottom: 25px;
}

.page-future-students .panel-pane.events {
  float: none;
}

@media all and (min-width: 481px) {
  /*
   * Use 3 grid columns for smaller screens.
   */
  $zen-column-count: 3;
}

@media all and (min-width: 651px) {
  /*
   * Use 5 grid columns for smaller screens.
   */
  $zen-column-count: 5;

  .pane-directory-mini-panes-future-students-directory, 
  .pane-menu-menu-future-students-resources {
    @include zen-grid-item(2, 1);
    padding: 0;
  }

  .pane-announcements-future-students-announcements, 
  .page-future-students .panel-pane.events {
    @include zen-grid-item(2.75, 1, right);
    padding: 0;
  }

  .page-future-students .panel-pane.events {
    @include zen-clear(right);
  }

  .pane-menu-menu-future-students-resources {
    @include zen-clear(left);
  }
}

@media all and (min-width: 960px) {
  /*
   * Use 12 grid columns for larger screens.
   */
  $zen-column-count: 12;

  .pane-directory-mini-panes-future-students-directory, 
  .pane-menu-menu-future-students-resources {
    @include zen-grid-item(4.4, 1);
    padding: 0;
  }
 
  .pane-announcements-future-students-announcements, 
  .page-future-students .panel-pane.events {
    @include zen-grid-item(7, 1, right);
    padding: 0;
  }

  .page-future-students .panel-pane.events {
    @include zen-clear(right);
  }

  .pane-menu-menu-future-students-resources {
    @include zen-clear(left);
  }
}
