// Use 1 grid columns for smaller screens.
// All generic code goes here.
$zen-column-count: 1;
.video-gallery,
.image-gallery {
  clear: both;
  .view-content {
    padding: .5em 15px;
  }
  table,
  tbody,
  tr {
    margin: 0;
    width: 100%;
    display: inline-block;
  }
  td {
    display: block;
    float: left;
    margin-bottom: 10px;
    padding: 0 1%;
    text-align: center;
    width: 98%;
  }
  h3 {
    padding: 0;
  }
  img {
    margin: 0 auto;
  }
}

