// Use 1 grid columns for smaller screens.
// All generic code goes here.
$zen-column-count: 1;
.video-gallery,
.image-gallery {
  clear: both;
  .view-content {
    padding: .5em 15px;
  }
  table,
  tbody,
  tr {
    margin: 0;
    width: 100%;
    display: inline-block;
  }
  td {
    display: block;
    float: left;
    margin-bottom: 10px;
    padding: 0 1%;
    text-align: center;
    width: 98%;
  }
  h3 {
    padding: 0;
  }
  img {
    margin: 0 auto;
  }
}
@media all and (min-width: 481px) { //HARD BREAKPOINT
  // Use 3 grid columns for special layouts on smaller screens.
  $zen-column-count: 3;
  .image-gallery,
  .video-gallery {
    .cols-4 td {
      display: block;
      float: left;
      width: 48%;
    }
  }
}
@media all and (min-width: 481px) and (max-width: 651px) {
  .image-gallery {
    tr.row-last td {
      &:nth-child(3),
      &:nth-child(4) {
        margin-bottom: 0;
      }
    }
    .cols-4 td:nth-child(2n+1) {
      clear: both;
    }
  }
  .video-gallery {
    td:nth-child(2) {
      clear: both;
    }
  }
}
@media all and (min-width: 651px) { //HARD BREAKPOINT
  // Use 5 grid columns for smaller screens.
  $zen-column-count: 5;
  .image-gallery,
  .video-gallery {
    .cols-4 {
      td {
        display: block;
        float: left;
        width: 23%;
      }
    }
    .row-last {
      td {
        margin-bottom: 0;
      }
    }
    .cols-2 {
      td {
        display: block;
        float: left;
        width: 48%;
      }
    }
  }
}
