/*
 * Use 1 grid columns for smaller screens.
 * All generic code goes here.
 */
$zen-column-count: 1;

// comment this out in dev for size fix
.header-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
}

body {
  background: url('');
  background-color: $background;
}

nav#main-menu[role="navigation"] {
  margin: 0 auto;
  max-width: 1024px;
  h2 {
    display: none;
  }

  label {
    @include background-image(linear-gradient($gradient-green_light, $gradient-green_dark 90%));
    @include font-copperplate;
    font-size: 16px;
    color: $topbar-link_color;
    background-color: blue;
    position: relative;
    display: block;
    height: 25px;
    margin: 0 0 25px 0;
    padding: 0 0 0 9px;
    width: 98%;
    text-transform: none;
  }

  label:after {
      position: absolute;
      //content: "\2261";
      content: "Menu";
  }

  input:checked ~ ul {
    display: block;

    > li {
      width: 100%;
      border-top: 1px solid;
      border-bottom: 1px solid;
      margin: 0;
      padding: 10px 0;

      &.first {
        margin-top: -25px;
      }

      &.last {
        margin-bottom: 25px;
      }
    }
  }
}

#logo {
  @include zen-grid-item(1, 1.1);
  padding: 5px 0;
  border-right: none;
}

#block-views-exp-search-panel-pane-1 {
  @include zen-grid-item(1, 2.62);
  padding: 5px 0;
  margin-bottom: 0;
  margin-top: -35px;
  height: 35px;

  .custom-search-box {
    width: 100%;
    margin-left: 0;
  }
}

#secondary-menu {
  @include zen-grid-item(2.9, 1.1);
  @include zen-clear();
  padding: 0;

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    padding: 5px 10px 5px 0;
  }
}

.mission-statement {
  margin-bottom: -5px;
}

.pane-views-viewbook-block {
  @include zen-clear();

  .views-field-body {
    padding: 10px;
    height: 85px;
  }

  .flex-control-nav {
    top: -70px;
    left: -5px;
    display: none;
  }

  .views-field-body {
    height: auto;
    padding-top: 7px;

    .field-content {
      //@include zen-grid-item(2.97, 1.13);
      display: inline-block;
      color: $attention-gold;
      font-size: 14px;
      height: 45px;
      position: relative;
      @include font-myriadpro;

      p {
        margin: 0;
      }
    }
  }

  span.views-label {
    @include font-copperplate;
    display: none;
    font-size: 18px;
    text-transform: uppercase;
    color: $topbar-link_color;
    padding: 17px 6px 17px 15px;
    letter-spacing: 2px;
    border-right: 2px solid $topbar-link_color;
    position: absolute;
    margin-top: 9px;
  }
}

.icon-waht_will_they_learn_logo {
  display: block;
}

.block-mission-respondable-footer p {
  margin: 0;
}

#block-menu-menu-footer-navigation {

  ul, .menu {
    margin: 0;
    padding: 0;
  }

  .last {
    padding-top: 5px;
  }
}

.section-search #content,
.not-front #content {
  margin-top: 30px;
}

#logo {
  @include zen-grid-item(.8, 1);
  border: none;
}

#block-views-exp-search-panel-pane-1 {
  @include zen-grid-item(1, 4);
  padding: 5px 0;
  margin-bottom: 0;
  margin-top: -35px;
  height: 25px;

  .custom-search-box {
    width: 100%;
    margin-left: 0;
  }
}

#secondary-menu {
  @include zen-grid-item(4, 1);
  @include zen-clear();
  padding: 0;

  li {
    padding: 5px 2.8%;
  }

  li.last {
    border: none;
  }
}

html, body {
  min-width: 100%;
}

#secondary-menu li {
  list-style: none;
  height: 27px;
  float: left;
  padding: 5px 1%;
  border: none;
}

#secondary-menu li a {
  @include font-copperplate;
  text-decoration: none;
  color: $topbar-link_color;
  font-size: 12px;
  letter-spacing: .88px;
}

#header {
  background-color: $gradient-green_dark;
  @include background-image(linear-gradient($gradient-green_light, $gradient-green_dark 90%));
  height: auto;
  margin-bottom: 0;
  padding: 0;
}

.region-header {
  clear: none;
}

#secondary-menu ul {
  margin: 0;
}

#secondary-menu.block {
  margin: 0;
}

#logo {
  padding: 5px 1%;
}

#block-views-exp-search-panel-pane-1 {
  padding: 0;

  label {
    display: none;
  }

  .views-exposed-form .views-exposed-widget {
    float: left;
    padding: 0 1em 0 0;
    height: 0;
  }

  input.form-text {
    border-radius: 3px 0 0 3px;
    background-color: $box-background;
    border: none;
    height: 23px;
    padding-left: 5px;
    width: 100%;
  }

  .search-form {
    height: 20px;

    .container-inline {
      height: 20px;
    }
  }
}

#block-views-exp-search-panel-pane-1 .form-submit {
  display: none;
}

#navigation {
  @include font-myriadprocondensed;
  color: $primary-nav;
  font-size: 25.5px;
  margin-top: 12px;
  text-transform: uppercase;
  z-index: 200;

  li a {
    color: white;
    text-decoration: none;
    text-shadow: -2px 2px 2px black;
    padding-left: 12px;
  }
  ul.links li.last {
    background-color: $attention-gold;
    @include single-box-shadow($shadow-grey, -2px, 2px, 2px);
    padding: 0;
    a {
      color: $primary_nav;
      padding: 0 10px 0 10px;
      margin: 0;
      text-shadow: none;
    }
  }
}

nav[role="navigation"] {
  label {
    display: none;
  }
}

/* Fix for Android */
body {
  -webkit-animation: bugfix infinite 1s;
}
@-webkit-keyframes bugfix {
  from { padding: 0; }
  to { padding: 0; }
}

/* default checkbox */
#navigation input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

label {
  cursor: pointer;
  user-select: none;
}

hgroup, #site-name, #site-slogan {
  display: none;
}

#content, 
#footer {
  margin: 0 auto;
  max-width: 622px;
}

.mission-statement {
  @include font-myriadpro_italic;
  font-size: 14px;
  color: $topbar-link_color;
  background-color: $gradient-green_dark;
  @include background-image(linear-gradient($gradient-green_light, $gradient-green_dark 90%));
  text-align: center;
  margin-top: 25px;
}

.flexslider {
  background: $gradient-green_light;
  border: 5px $gradient-green_light solid;
  border-radius: 0;
  margin-bottom: 0;
}

.pane-views-viewbook-block .flex-control-nav li {
  display: inline-block;
  margin: 0 2px;
}

.flex-control-paging li a {
  background: none repeat scroll 0 0 $gradient-green_light;
  border: 2px solid $topbar-link_color;
  border-radius: 20px 20px 20px 20px;
  @include single-box-shadow(transparent, 0, 0, 0);
  cursor: pointer;
  display: block;
  height: 11px;
  text-indent: -9999px;
  width: 11px;
}

.flex-control-paging li a.flex-active {
  background: none repeat scroll 0 0 $topbar-link_color;
  cursor: default;
  @include single-box-shadow($shadow-grey, -2px, 1px, 2px, false, true);
}

.flex-direction-nav a {
    background: url("../images/bg_direction_nav.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 30px;
    margin: -20px 0 0;
    opacity: 0;
    position: absolute;
    text-indent: -9999px;
    top: 50%;
    width: 30px;
    z-index: 10;
}

.button-link {
  margin-top: 9px;
  padding: 32px 0 0;
  list-style: none;
}

.button-link {
  color: $attention-gold;
  text-align: center;
  border: 2px solid $background;
  @include background-image(linear-gradient($gradient-green_light, $gradient-green_dark 90%));
  text-decoration: none;
  height: 41px;
  padding-top: 20px;
  display: inline-block;

  &.last {
    margin-right: -5px;
  }

  &:hover{
    border: 2px solid $attention-gold;
  }
}

.oversized-text {
  text-transform: uppercase;
  font-size: 32px;
  @include font-myriadprocondensed;
}

.breadcrumb {display: none;}

.panel-pane {

  .pane-title {
    background-color: $gradient-green_dark;
    color: $topbar-link_color;
    @include background-image(linear-gradient($gradient-green_light, $gradient-green_dark 90%));
    @include font-copperplate;
    height: 100%;
    line-height: 100%;
    font-size: 1em;
    padding: 10px 15px;
    margin: 0;

    a {
      color: $topbar-link_color;
      text-decoration: none;
      letter-spacing: 2px;
      font-size: 16px;
      @include font-copperplate;
      padding: 0;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.content-announcement {

  .pane-title {
    color: $attention-gold;
    font-family: $font-myriadprocondensed;
    font-size: 32px;
    padding-left: 15px;
  }
}

.block-mission-respondable-footer {
  border-top: 1px solid $gradient-green_light;
  margin: 0;
}

.block-mission-respondable-footer ul {
  margin: 10px 0;
  padding: 0;

  li {
    list-style: none;
    display: inline-block;
  }
}

.icon-facebook_logo {
  background: url('../images/facebook.png') no-repeat;
  display: inline-block;
  height: 34px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 33px;
  position: relative;
  top: -9px;
}

.icon-twitter_logo {
  background: url('../images/twitter.png') no-repeat;
  display: inline-block;
  height: 34px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 33px;
  position: relative;
  top: -9px;
}

.icon-youtube_logo {
  background: url('../images/youtube.png') no-repeat;
  display: inline-block;
  height: 34px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 33px;
  position: relative;
  top: -9px;
}

.icon-googleplus_logo {
  background: url('../images/googleplus.png') no-repeat;
  display: inline-block;
  height: 34px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 33px;
  position: relative;
  top: -9px;
}

.icon-pinterest_logo {
  background: url('../images/pinterest.png') no-repeat;
  display: inline-block;
  height: 34px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 33px;
  position: relative;
  top: -9px;
}

.icon-coplac_logo {
  background: url('../images/coplac.png') no-repeat;
  display: inline-block;
  height: 58px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 140px;
  margin-left: 115px;
}

.icon-what_will_they_learn_logo {
  background: url('../images/WHATwillTHEYlearn.png') no-repeat;
  display: inline-block;
  height: 59px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 139px;
  margin-right: -5px;
  margin-left: 20px;
}

#block-mission-respondable-footer-footer-contact {
  background: url('../images/pretties2.png') 100% 0 no-repeat;
  height: 145px;
  padding-top: 30px;
}

.block-mission-respondable-footer p {
  @include font-myriadpro;
  font-size: 12px;
  color: $topbar-link_color;
  width: 255px;
  line-height: 16px;
}

.block-mission-respondable-footer p a {
  @include font-myriadpro;
  font-size: 12px;
  color: $topbar-link_color;
  width: 200px;
  text-decoration: none;
  line-height: 16px;
}

#block-menu-menu-footer-navigation {
  margin-top: 100px;
  margin-bottom: -113px;
  position: relative;
  z-index: 200;
  width: 100%
}

#block-menu-menu-footer-navigation li {
  list-style: none;
  display: inline-block;
  border-left: 1px solid $topbar-link_color;
  padding-left: 5px;
  line-height: 8px;
  height: 12px;
}

#block-menu-menu-footer-navigation li a {
  @include font-myriadpro;
  color: $attention-gold;
  font-size: 16px;
  text-decoration: none;
}

#block-menu-menu-footer-navigation li.first {
  border-left: none;
  padding-left: 0;
}

.block-mission-respondable-footer p a.worx {
  color: $shadow-grey;
}

.panels-flexible-region-2-center {
  width: 100%;
}

.not-front .field-name-body {
  padding: 0 15px;
}

div.links a {
  color: $primary_nav; 
  text-decoration: none;
  @include font-myriadpro_bold;
  padding-left: 15px;
}

article, .webform-confirmation {
  @include font-myriadpro;
  color: $body_text;
  line-height: 18px;
  padding: 15px;

  .field-name-body {
    margin-left: -15px;
  }

  a:link,
  a:visited {
    @include font-myriadprocondensed_bold;
    color: $primary_nav;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
  }
}

.item-list {
  @include font-myriadpro;
  font-size: 12px;
  padding: 10px 0;
  color: $box-background;
  background-color: $gradient-green_dark;
  @include background-image(linear-gradient($gradient-green_light, $gradient-green_dark 90%));

  .pager-current {
    color: $attention-gold;
  }

  ul {
    margin: 0;

    li {
      a {
        color: $box-background;
        text-decoration: none;
      }
    }
  }
}

.node-type-testimonial .field-name-body {
  background-color: $box-background;
  padding: 0;

  p {
    margin: 1em 30px;
    @include font-myriadpro;
    color: $body_text;
    line-height: 18px;
  }
}

.section-search h1, .not-front h1 {
  text-transform: uppercase;
  font-size: 32px;
  @include font-myriadprocondensed;
  color: $attention-gold;
  background-color: $gradient-green_dark;
  @include background-image(linear-gradient($gradient-green_light, $gradient-green_dark 90%));
  padding-left: 15px;
  margin: 0;

  &#page-title {
    margin: 0 0 15px;
  }
}

.section-testimonials #content, .section-search #content, .not-front #content {
//  background-color: $box-background;
//  margin-top: 40px;
}

.page-news #content, .section-events #content , .page-future-students #content {
  background-color: transparent;
}

.section-search .panel-pane {
  margin: 0 15px;
}

.section-search .item-list {
  margin: 0 -22px 0 -15px;
}

.section-search .views-row {
  margin: 15px 0;
}

.section-search .attachment {
  margin: 15px 0;
}

.section-search {
  @include font-myriadpro;
  font-size: 14px;
  color: $body_text;
  line-height: 18px;
  margin-bottom: 25px;
}

.section-search a {
  @include font-myriadpro_semibold;
  font-size: 14px;
  color: $primary_nav;
  text-decoration: none;
}

.node-type-testimonial .title {
  @include font-myriadprocondensed;
  position: relative;
  z-index: 100;
  background-color: rgba(1, 90, 73, 0.5);
  color: $attention-gold;
  padding: 5px 30px;
  font-size: 32px;
  line-height: 1em;
  height: 65px;
  top: -150px;
}

.node-type-testimonial .field-name-field-testimonial-major,
.node-type-testimonial .field-name-field-testimonial-grad-year {
    @include font-myriadprocondensed_bold;
    background-color: rgba(235, 234, 213, 0.7);
    color: $primary_nav;
    font-size: 18px;
    height: 30px;
    padding: 5px 0 0 30px;
    position: relative;
    top: -150px;
}

.node-type-testimonial .field-name-field-testimonial-grad-year {
  margin-bottom: -150px;
}

.section-testimonials .view-testimonial .views-field-title a,
.view-testimonial .testimonial-title a {
  @include font-myriadpro_semibold;
  font-size: 14px;
  color: $primary_nav;
  text-decoration: none;
}

.section-testimonials .view-testimonial .views-field-field-testimonial-image {
  margin: 0 -15px;
}

.section-testimonials .view-testimonial .views-field-body {
  @include font-myriadpro;
  font-size: 14px;
  color: $body_text;
  line-height: 18px;
  margin-bottom: 25px;
}

.section-testimonials .view-testimonial .views-row {
    margin: 0 15px;
}

.section-testimonials .view-testimonial .views-row-first {
  padding: 0;
}

.section-apply {
  #page {
    max-width: 777px;
  }

  iframe {
    border: 0;
  }
}

@media all and (min-width: 481px) { //HARD BREAK POINT
  /*
   * Use 3 grid columns for special layouts on smaller screens.
   */
  $zen-column-count: 3;

  body {
    background: url("../images/pretties.png") no-repeat scroll center top $background;
  }
}

@media all and (min-width: 651px) { //HARD BREAK POINT
  /*
   * Use 5 grid columns for smaller screens.
   */
  $zen-column-count: 5;

  .pane-views-viewbook-block {
    span.views-label {
      display: block;
    }
    .views-field-body .field-content {
      @include zen-grid-item(3.3 , 2.6);
    }

    .flex-control-nav {
      display: block;
    }

     .flex-control-nav {
      display: block;
      top: -45px;
      left: 10px;
      position: relative;
      width: 17%;
    }
  }
}

@media all and (min-width: 960px) { //HARD BREAK POINT
  /*
   * Use 12 grid columns for larger screens.
   */
  $zen-column-count: 12;

  .section-testimonials #content, .section-search #content, .not-front #content {
    padding: 0;
  }

  #logo {
    @include zen-grid-item(2, 1);
    border: none;
  }

  #navigation {
    li a {
      padding-left: 6px;
    }
  }

  #block-views-exp-search-panel-pane-1 {
    @include zen-grid-item(2, 9);
    padding: 5px 0;
    margin-bottom: 0;
    margin-top: 0;
    height: 25px;

    .custom-search-box {
      width: 100%;
      margin-left: 0;
    }
  }

  #secondary-menu {
    @include zen-grid-item(7, 2.6);
    clear: none;

    li {
      border-right: 1px solid $attention-gold;
      padding: 5px 2.8%;
    }

    li.last {
      border: none;
    }
  }

  .pane-views-viewbook-block .views-field-body .field-content {
    @include zen-grid-item(7.5 , 4.8);
  }
}

@media all and (min-width: 1024px) { //SOFT BREAK POINT
  #navigation {
    li a {
      padding-left: 12px;
    }
  }
}

/*
 * Base
 *
 */

html, button, input, select, textarea {
  font-family: $font-myriadpro;
  color: $body_text;
  font-size: 16px;
  line-height: 24px;
}

a {
  text-decoration: none;
  color: $primary-nav;

  &:hover, &:focus {
    text-decoration: underline;
  }
}

/*
 * Layout
 *
 */

//test

.l-box {
  background-color: $box-background;

  p {
    padding: 0 15px;
  }
}

.l-content-right {
  @include zen-grid-item(7.3, 1, right);
}

.l-sidebar-left {
  @include zen-grid-item(4, 1, none);
  margin-bottom: 1.5em;

  p, h3 {
    padding: .75em 15px;
    margin: 0;
    font-size: 16px;
  }
}

.l-box__clear {
  @include zen-clear();
}

@media all and (min-width: 481px) {
  /*
   * Use 3 grid columns for smaller screens.
   */
  $zen-column-count: 3;

  .l-content-right {
    @include zen-grid-item(3, 1, none);
  }
}

@media all and (min-width: 651px) {
  /*
   * Use 5 grid columns for smaller screens.
   */
   $zen-column-count: 5;

   .l-content-right {
      @include zen-grid-item(3.1, 1, right);
   }

   .l-content-left {
      @include zen-grid-item(3.1, 1);
   }

   .l-sidebar-left {
     @include zen-grid-item(1.6, 1, none);
   }

   .l-sidebar-right {
     @include zen-grid-item(1.6, 4.4);
   }
 }

@media all and (min-width: 960px) {
  /*
   * Use 12 grid columns for larger screens.
   */
  $zen-column-count: 12;

  .l-content-right {
    @include zen-grid-item(7.3, 1, right);
  }

  .l-content-left {
    @include zen-grid-item(7.3, 1);
  }

  .l-sidebar-left {
    @include zen-grid-item(4, 1, none);
  }

  .l-sidebar-right {
    @include zen-grid-item(4, 9);
  }
}

.l-highlight {
  background-color: rgba(235, 234, 213, 0.7);
  @include font-myriadprocondensed_bold;
  color: $body_text;
  padding: 5px 15px;
  font-size: 18px;
}

.l-title-area {
  position: relative;
  top: -40px;
  margin-bottom: -40px;
}

/*
 * Component
 *
 */

.menu__vertical {
  ul {
    margin: 0 0 1.5em;
    padding: 0 15px;

    li {
      list-style: none;
      border-bottom: 1px solid $divider;
      padding: 5px 0;

      a {
        @include font-myriadprocondensed;
      }

      &.is-active-trail {
        background-color: $event-active;
        margin: -1px -15px;
        padding: 5px 15px;
      }
    }
  }
}

/*
 * State
 *
 */

.menu__item.is-leaf { /* Overide of default zen */
  list-style-image: none;
  list-style: none;
}

.menu a.active {
  color: $primary_nav;
}
