@import "compass/css3/images";

.icon-facebook_logo {
  background: url('../images/facebook.png') no-repeat;
  display: inline-block;
  height: 34px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 33px;
  position: relative;
  top: -9px;
}

.icon-twitter_logo {
  background: url('../images/twitter.png') no-repeat;
  display: inline-block;
  height: 34px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 33px;
  position: relative;
  top: -9px;
}

.icon-youtube_logo {
  background: url('../images/youtube.png') no-repeat;
  display: inline-block;
  height: 34px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 33px;
  position: relative;
  top: -9px;
}

.icon-googleplus_logo {
  background: url('../images/googleplus.png') no-repeat;
  display: inline-block;
  height: 34px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 33px;
  position: relative;
  top: -9px;
}

.icon-pinterest_logo {
  background: url('../images/pinterest.png') no-repeat;
  display: inline-block;
  height: 34px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 33px;
  position: relative;
  top: -9px;
}

.icon-coplac_logo {
  background: url('../images/coplac.png') no-repeat;
  display: inline-block;
  height: 58px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 140px;
  margin-left: 115px;
}

.icon-what_will_they_learn_logo {
  background: url('../images/WHATwillTHEYlearn.png') no-repeat;
  display: inline-block;
  height: 59px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 139px;
  margin-right: -5px;
  margin-left: 20px;
}


