 // Use 1 grid columns for smaller screens.
 // All generic code goes here.
$zen-column-count: 1;
.node-type-major {
  h1.page__title {
    display: none;
  }
  .view-header {
    .views-row-last {
      border-bottom: 1px solid $divider;
    }
  }
  .pane-majors-major-resources {
    .view-content {
      margin-top: -.7em;
    }
  }
}
.pane-majors-major-courses,
.pane-major-courses {
  .panel-pane {
    margin-bottom: 10px;
  }
  h3 {
    font-size: 14px;
  }
  table {
    font-size: 11px;
    line-height: 13px;
    margin: .5em 15px 1em;
    width: 177px !important;
    tbody {
      border: 0;
    }
    tr {
      background: none;
      border-bottom: 1px solid $body_text;
      &:nth-last-child(1) {
        border-bottom: 0;
      }
    }
    h3 {
      padding: 0;
    }
  }
  .view-footer {
    background: none;
    margin-top: -10px;
    tr {
      border-top: 1px solid $body_text;
    }
    h4 {
      margin: 0;
    }
  }
}

