/*
 * Use 1 grid columns for smaller screens.
 */
$zen-column-count: 1;

.node-type-news #content {
	margin-top: 65px;
}

.node-type-news .masthead {
	top: 0;
}

.node-type-news .field-name-field-news-published {
	margin-bottom: 0;
}

.section-news .news {
 @include zen-grid-item(3, 1);
 @include zen-clear();
 margin-bottom: 25px;
 margin-top: 25px;
}

.section-news .headlines {
 @include zen-grid-item(3, 1);
 @include zen-clear();
}

.section-news .top-news {
 @include zen-grid-item(3, 1);
 @include zen-clear();
 margin-top: 25px;
}

.section-news .latest-news {
 @include zen-grid-item(3, 1);
 @include zen-clear();
 margin-bottom: 25px;
}

.section-news .panel-flexible .center .panels-flexible-region-inside {
  padding: 0;
}

.page-news #navigation {
  margin-bottom: 38px;
}

.section-news .top-news {
  background-color: $box-background;
  margin-bottom: -1em;
}

.pane-views-featured-news-block {
	@include zen-grid-item(3, 1);
	@include zen-clear(left);
	margin-top: 25px;

	li {
		@include zen-clear();
		padding: 0;
	}

	.pane-title {
		margin-top: 0;
	}

	.views-field-field-news-frontpage-image {
		margin-bottom: 20px;
		margin-left: 0;
	}
}

@media all and (min-width: 481px) { //HARD BREAK POINT
  /*
   * Use 3 grid columns for smaller screens.
   */
  $zen-column-count: 3;
}

@media all and (min-width: 651px) { //HARD BREAK POINT
  /*
   * Use 5 grid columns for medium screens.
   */
  $zen-column-count: 5;

  .section-news .top {
   @include zen-grid-item(3.1, 1, right);
  }

  .section-news .middle {
   @include zen-grid-item(2.2, 1, left);
  }

  .pane-views-featured-news-block {
    @include zen-grid-item(3, 1);
    margin-top: 25px;

    .views-field-field-news-image {
      padding-bottom: 15px;
    }
  }
}

@media all and (min-width: 960px) { //HARD BREAK POINT
  /*
   * Use 12 grid columns for larger screens.
   */
  $zen-column-count: 12;

  .section-news .top {
    @include zen-grid-item(7.4, 1, right);
  }

  .section-news .middle {
   @include zen-grid-item(2.4, 1, left);
  }.pane-views-featured-news-block {
    @include zen-grid-item(7.1, 1);
    margin-top: 25px;

    .views-field-field-news-image {
      padding-bottom: 15px;
    }
  }
}