/*
 * Use 1 grid columns for smaller screens.
 * All generic code goes here.
 */
$zen-column-count: 1;

.split-box-green {
  font-weight: bold;

  img {
    float: left;
    padding-right: 15px
  }
}

.node-type-professionals {
  h1#page-title {
    display: none;
  }
  
  .item-list {
    background: none;
    color: $body_text;
    a {
      color: $primary-nav;
    }
  }
}

.pane-professional-professional-image-gallery,
.pane-professional-professional-video-gallery,
.pane-professional-image-gallery {
  clear: both;
  
  .view-content {
    padding: 0.5em 15px;
  }
  table {
    margin: 0;
    width: 100%;
    td {
      display: block;
      float: left;
      text-align: center;
      padding: 0 1%;
      width: 98%;
      h3 {
        padding: 0;
      }
      img {
        margin: 0 auto;
      }
    }
  }
}
  
.l-float-left {
  margin-bottom: 15px;
}

@media all and (min-width: 481px) { //HARD BREAKPOINT
  /*
   * Use 3 grid columns for special layouts on smaller screens.
   */
  $zen-column-count: 3;
  
  .pane-professional-professional-image-gallery table.cols-4 td,
  .pane-professional-professional-video-gallery table.cols-4 td,
  .pane-professional-image-gallery table.cols-4 td {
    display: block;
    float: left;
    width: 48%;
  }
}

@media all and (min-width: 651px) { //HARD BREAKPOINT
  /*
   * Use 5 grid columns for smaller screens.
   */
  $zen-column-count: 5;
  
  .l-float-left {
    float: left;
    width: 296px;
  }

  .l-float-left:nth-child(2n + 1) {
    clear: left;
    margin-right: 10px;
  }
  
  .pane-professional-professional-image-gallery table.cols-4 td,
  .pane-professional-professional-video-gallery table.cols-4 td,
  .pane-professional-image-gallery table.cols-4 td {
    display: block;
    float: left;
    width: 23%;
  }
}

@media all and (min-width: 960px) { //HARD BREAKPOINT
  /*
   * Use 12 grid columns for larger screens.
   */
  $zen-column-count: 12;
  
  .l-float-left {
    width: 306px;
  }

  .pane-professional-professional-image-gallery table.cols-2 td,
  .pane-professional-professional-video-gallery table.cols-2 td,
  .pane-professional-image-gallery table.cols-2 td {
    display: block;
    float: left;
    width: 48%;
  }
}
