<<<<<<< HEAD
/*
 * Use 1 grid columns for smaller screens.
 * All generic code goes here.
 */
$zen-column-count: 1;

.view-id-featured_testimonials {

  .tinynav {
    width: 100%;
  }
}

.quicktabs-wrapper {
  ul {
    padding: 0;
  
    li {
      width: 16.667%;
    }
  }

  .testimonial-title {
    width: 96%;
  }
  
  .testimonial-body {
    width: 96%;
  }

  .views-field-nothing-1 {/* .view-id-featured_testimonials .views-field-nothing-1 */

    .field-content {
      width: 100%;
    }

    a {
      width: 96%;
    }
  }
}

@media all and (min-width: 481px) { //HARD BREAKPOINT
  /*
   * Use 3 grid columns for special layouts on smaller screens.
   */
  $zen-column-count: 3;

  .view-id-featured_testimonials {

    .views-field-nothing-1 {/* .view-id-featured_testimonials .views-field-nothing-1 */
      height: 100%;
      @include zen_grid_item(3, 1, none);

      .field-content {
        @include zen_grid_item(1.5, 1, right);
      }

      a {
        @include zen_grid_item(2.55, 1, none);
      }
    }
  }
}

@media all and (min-width: 651px) { //HARD BREAKPOINT
  /*
   * Use 5 grid columns for smaller screens.
   */
  $zen-column-count: 5;
  
  .quicktabs-wrapper {

    .views-field-nothing-1 {

      .field-content {
        @include zen_grid_item(1.95, 1, right);
      }
    }
  }
}

@media all and (min-width: 960px) { //HARD BREAKPOINT
  /*
   * Use 12 grid columns for larger screens.
   */
  $zen-column-count: 12;
}
=======
/*
 * Use 1 grid columns for smaller screens.
 * All generic code goes here.
 */
$zen-column-count: 1;

.view-id-featured_testimonials {

  .tinynav {
    width: 100%;
  }
}

.quicktabs-wrapper {
  ul {
    padding: 0;
  
    li {
      width: 16.667%;
    }
  }

  .testimonial-title {
    width: 96%;
  }
  
  .testimonial-body {
    width: 96%;
  }

  .views-field-nothing-1 {/* .view-id-featured_testimonials .views-field-nothing-1 */

    .field-content {
      width: 100%;
    }

    a {
      width: 96%;
    }
  }
}

@media all and (min-width: 481px) { //HARD BREAKPOINT
  /*
   * Use 3 grid columns for special layouts on smaller screens.
   */
  $zen-column-count: 3;

  .view-id-featured_testimonials {

    .views-field-nothing-1 {/* .view-id-featured_testimonials .views-field-nothing-1 */
      height: 100%;
      @include zen_grid_item(3, 1, none);

      .field-content {
        @include zen_grid_item(1.5, 1, right);
      }

      a {
        @include zen_grid_item(2.55, 1, none);
      }
    }
  }
}

@media all and (min-width: 651px) { //HARD BREAKPOINT
  /*
   * Use 5 grid columns for smaller screens.
   */
  $zen-column-count: 5;
  
  .quicktabs-wrapper {

    .views-field-nothing-1 {

      .field-content {
        @include zen_grid_item(1.95, 1, right);
      }
    }
  }
}

@media all and (min-width: 960px) { //HARD BREAKPOINT
  /*
   * Use 12 grid columns for larger screens.
   */
  $zen-column-count: 12;
}
>>>>>>> work on SMACSS
