 // This SASS is for the Future Students Testimonial feature
.quicktab-block {
  overflow: hidden;
  position: relative;
  .tinynav {
    @include font-copperplate;
    @include text-shadow(1px 1px 1px #004538);
    color: $attention-gold;
    font-size: 24px;
    width: 100%;
    option {
      @include font-copperplate;
      color: $attention-gold;
      font-size: 24px;
      &:hover {
        color: $attention-gold;
      }
    }
  }
}
ul.quicktabs-tabs li {
  white-space: normal;
}
.image-only {
  li.active {
    a {
      border: 0;
    }
  }
}
.quicktabs-wrapper { 
  .item-list {
    padding: 0;
  }
  h3 {
    font-size: 16px;
    margin: 5px 2%;
    padding: 0;
  }
  ul {
    padding: 0;
    li {
      float: left;
      font-family: $font-myriadprocondensed;
      font-size: 15px;
      font-weight: bold;
      margin: 0;
      padding: 0;
    }
    &.hide-border {
      border: 0;
    }
  }
  li a {
    @include background-image(linear-gradient($gradient-green_light, $gradient-green_dark 90%));
    border-right: 1px solid $box-background;
    display: block;
    padding: 10px 1px;
    text-align: center;
    text-transform: uppercase;
    &:hover {
      color: $attention-gold;
    }
  }
  li.last a {
    border-right: 0;
  }
  li.active a {
    border: 2px solid $attention-gold;
    padding: 8px 0;
  }
  .quicktabs-tabpage { // .quicktabs-wrapper .quicktabs-tabpage */
    clear: left;
    position: relative;
  }
  .quicktab-block__title {
    color: $primary-nav;
    float: left;
    font-size: 12px;
    margin: 5px 2%;
    width: 96%;
  }
  .quicktab-block__body {
    display: block;
    margin: 5px 2%;
    padding: 0;
    width: 96%;
    p {
      display: inline;
    }
  }
  .quicktab-block__content {// .quicktabs-wrapper .views-field-nothing-1 */
    padding: 1px 0;
    .quicktab-block__content-wrapper {
      margin: 0;
      padding: 10px 0 0;
      width: 100%;
    }
    .quicktab-block__button {
      background-color: $attention-gold;
      @include box-shadow($shadow-grey, -2px 2px 3px);
      color: $primary-nav;
      display: block;
      font-weight: bold;
      margin: 15px 2%;
      padding: 6px 0;
      text-align: center;
      text-decoration: none;
      width: 96%;
    }
  }
}
.quicktab-block__six__single {
  ul.quicktabs-tabs li {
    width: 16.667%;
  }
}
.quicktab-block__five__single {
  ul.quicktabs-tabs li {
    width: 20%;
  }
}
.quicktab-block__five__double {
  ul.quicktabs-tabs li {
    width: 20%;
  }
  a {
    min-height: 48px;
  }
}
.quicktab-block__two__single {
  ul.quicktabs-tabs li {
    width: 50%;
  }
}
.quicktab-block__academics {
  li {
    &:nth-child(2) {
      &.active a {
        padding: 8px 11px;
      }
      a {
        padding: 10px 11px;
      }
    }
  }
}

