/**
 * This SASS is for the Future Students Testimonial feature
 */
.view-display-id-testimonials_future_students {
  overflow: hidden;
  position: relative;
}

.view-id-featured_testimonials {

  .tinynav {
    border-color: #FFD457;
    color: $topbar-link_color;
    @include font-copperplate;
    font-size: 16px;
    @include background-image(linear-gradient($gradient-green-light, $gradient-green-dark 90%));

    option {
      color: $topbar-link_color;
      @include font-copperplate;
      font-size: 16px;
      @include background-image(linear-gradient($gradient-green-light, $gradient-green-dark 90%));

      &:hover {
        color: $topbar-link_color;
      }
    }
  }
}

.quicktabs-wrapper { 

  .item-list {
    padding: 0;
  }

  ul {
    padding: 0;

    li {
      float: left;
      font-family: $font-myriadprocondensed;
      font-size: 15px;
      font-weight: bold;
      margin: 0;
      padding: 0;

      a {
        @include background-image(linear-gradient($gradient-green_light, $gradient-green_dark 90%));
        border-right: 1px solid $box-background;
        display: block;
        padding: 10px 0;
        text-align: center;
        text-transform: uppercase;

        &:hover {
          color: $attention-gold;
        }

        &.hide-border {
          border: none;
        }
      }

      &.last a {
        border-right: none;
      }

      &.active a {
        border: 2px solid $attention-gold;
        padding: 8px 0;
      }
    }
  }

  .quicktabs-tabpage { /* .quicktabs-wrapper .quicktabs-tabpage */
    clear: left;
    position: relative;
  }

  .testimonial-title {
    color: $primary-nav;
    font-size: 12px;
    float: left;
    margin: 5px 2%;
  }

  .testimonial-body {
    display: block;
    margin: 5px 2%;
  }

  .testimonial-body p {
    display: inline;
  }

  .views-field-nothing-1 {/* .quicktabs-wrapper .views-field-nothing-1 */
    background: $box-background;
    padding: 1px 0;

    .field-content {
      margin: 0;
      padding: 10px 0 0;
    }

    a {
      background-color: $attention-gold;
      box-shadow: -2px 2px 3px $shadow-grey;
      color: $primary-nav;
      display: block;
      font-weight: bold;
      margin: 15px 2%;
      padding: 6px 0;
      text-align: center;
      text-decoration: none;
    }
  }
}

@media all and (min-width: 481px) { //HARD BREAK POINT
  /*
   * Use 3 grid columns for smaller screens.
   */
  $zen-column-count: 3;

  .quicktabs-wrapper {

    .testimonial-title {
      color: $primary-nav;
      font-size: 14px;
      margin: 5px 0 0;
    }

    .testimonial-body {
      margin: 5px 0;
    }

    .testimonial-body p {
      color: $body_text;
      font-weight:bold;
    }

    .views-field-nothing-1 {/* .quicktabs-wrapper .views-field-nothing-1 */
      @include background-image(linear-gradient(left, rgba(247,244,222,0) 0%, rgba(247,244,222,0.2) 35%, rgba(247,244,222,0.75) 60%, rgba(247,244,222,0.75) 100%));
      background-color: transparent;
      position: absolute;
      top: 0;

      .field-content {
        margin: 0;
        padding-right: 5px;
        padding-top: 10px;
      }

      a {
        background-color: $attention-gold;
        box-shadow: -2px 2px 3px $shadow-grey;
        color: $primary-nav;
        display: inline-block;
        font-weight: bold;
        margin: 15px 0;
        padding: 6px 3px;
        text-align: center;
        text-decoration: none;
      }
    }
  }
}

@media all and (min-width: 651px) { //HARD BREAK POINT
  /*
   * Use 5 grid columns for smaller screens.
   */
  $zen-column-count: 5;
  
  .quicktabs-wrapper {

    .views-field-nothing-1 {

      a {
        margin: 15px 0;
      }
    }
  }
}

@media all and (min-width: 960px) { //HARD BREAK POINT
  /*
   * Use 12 grid columns for larger screens.
   */
  $zen-column-count: 12;
}
