#block-views-exp-search-panel-pane-1 {
  @include zen_clear();
  padding: 5px 0;
  margin-bottom: 0;
  margin-top: -35px;
  height: 35px;

  .custom-search-box {
    width: 100%;
    margin-left: 0;
  }

  label {
    display: none;
  }

  .views-exposed-form .views-exposed-widget {
    float: left;
    padding: 0 1em 0 0;
    height: 0;
  }

  input.form-text {
    border-radius: 3px 0 0 3px;
    background-color: $box-background;
    border: none;
    height: 23px;
    padding-left: 5px;
    width: 100%;
  }

  .form-submit {
    display: none;
  }

  .search-form {
    height: 20px;

    .container-inline {
      height: 20px;
    }
  }
}

.section-search h1, .not-front h1 {
  text-transform: uppercase;
  font-size: 32px;
  @include font-myriadprocondensed;
  color: $attention-gold;
  background-color: $gradient-green_dark;
  @include background-image(linear-gradient($gradient-green_light, $gradient-green_dark 90%));
  padding-left: 15px;
  margin: 0;

  &#page-title {
    margin: 0 0 15px;
  }
}

.section-search .panel-pane {
  margin: 0 15px;
}

.section-search .item-list {
  margin: 0 -22px 0 -15px;
}

.section-search .views-row {
  margin: 15px 0;
}

.section-search .attachment {
  margin: 15px 0;
}

.section-search {
  @include font-myriadpro;
  font-size: 14px;
  color: $body_text;
  line-height: 18px;
  margin-bottom: 25px;
}

.section-search a {
  @include font-myriadpro_semibold;
  font-size: 14px;
  color: $primary_nav;
  text-decoration: none;
}

@media all and (min-width: 481px) { //HARD BREAK POINT
  /*
   * Use 3 grid columns for special layouts on smaller screens.
   */
  $zen-column-count: 3;
}

@media all and (min-width: 651px) { //HARD BREAK POINT
  /*
   * Use 5 grid columns for smaller screens.
   */
  $zen-column-count: 5;
}

@media all and (min-width: 960px) { //HARD BREAK POINT
  /*
   * Use 12 grid columns for larger screens.
   */
  $zen-column-count: 12;

  #block-views-exp-search-panel-pane-1 {
    @include zen-grid-item(2, 9);
    padding: 5px 0;
    margin-bottom: 0;
    margin-top: 0;
    height: 25px;

    .custom-search-box {
      width: 100%;
      margin-left: 0;
    }
  }
}
