.section-gallery {
  #content {
    max-width: 1200px;
    .pane-gallery-image-header-nesbitt-gallery-slider {
      max-width: 1200px;
    }
    .pane-three-button-pane,
    #page-title {
      max-width: 622px;
      margin: 0 auto;
    }
  }
}
.view-display-id-nesbitt_gallery_slider .slick-slide {
  overflow: hidden;
}
.view-display-id-nesbitt_gallery_slider .slick-slide.slick-center {
  margin-top: 0;
}