@import "../base";

@media all and (max-width: 650px) {
/*
 * Use 3 grid columns for smaller screens.
 */
  $zen-column-count: 3;

  .html .testimonial {
    @include zen-grid-item(3, 1);
    @include zen-clear();

    .testimonial-title,
    .testimonial-body,
    .testimonial-path {
      @include zen-grid-item(2.85, 1.1);
      @include zen-clear();
    }

    img {
      margin: 0 auto;
      text-align: center;
    }
  }

  .html.section-testimonials #content {
    margin-top: 30px;
  }

  .html.node-type-testimonial .masthead {
    top: 0;
  }

  .html.node-type-testimonial .title {
    top: 0;
  }

  .html.node-type-testimonial .field-name-field-testimonial-grad-year {
    margin-bottom: 0;
  }

}

@media all and (min-width: 651px) and (max-width: 959px) {
/*
 * Use 5 grid columns for smaller screens.
 */
  $zen-column-count: 5;

  .html .pane-views-testimonial-block,
  .html .pane-testimonial {
    @include zen-grid-item(5, 1);
    @include zen-clear();
    background-color: #F7F4DE;
    margin-top: 25px;

    .views-field-field-testimonial-image {
      @include zen-grid-item(3, 1);
      line-height: 0;
      margin-bottom: -180px;
      margin-top: -1px;
    }

    .testimonial-title,
    .testimonial-body,
    .testimonial-path {
      @include zen-grid-item(2, 3.8);
      @include zen-clear();
    }

    .testimonial-path {
    }
  }

}

@media all and (min-width: 960px) {
/*
 * Use 12 grid columns for larger screens.
 */
  $zen-column-count: 12;

  .html .pane-views-testimonial-block,
  .html .pane-testimonial {
    @include zen-grid-item(12, 1);
    @include zen-clear();
    background-color: #F7F4DE;
    margin-top: 25px;

    .views-field-field-testimonial-image {
      @include zen-grid-item(7, 1);
      line-height: 0;
      margin-bottom: -180px;
      margin-top: -1px;
    }

    .testimonial-title,
    .testimonial-body,
    .testimonial-path {
      @include zen-grid-item(5, 7.8);
      @include zen-clear();
    }

    .testimonial-path {
    }
  }
}
