.testimonial-block {
  padding: 0;
  .bqstart,
  .bqend {
    display: inline;
    @include font-myriadpro;
  }
  .testimonial-block__title {
    line-height: 1em;
    margin: 0;
    padding: 5px 15px 2px;
  }
  .testimonial-block__body {
    @include font-myriadprocondensed;
    color: $body-text;
    font-size: 20px;
    padding: 0 15px;
  }
  .edit-link {
    font-size: 24px;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
  }
  .testimonial-block__path {
    padding: 0 15px;
    
    a {
      @include font-myriadpro_bold;
      color: $primary-nav;
      text-decoration: none;
    }
  }
  .testimonial-block__image {
    display: block;
    float: left;
    max-width: 100%;
    padding: 0;
  }
}
.view-display-id-major_alumni img {
  float: left;
  margin-right: 10px;
}
.not-logged-in .pane-views-testimonial-block .views-field-edit-node,
.not-logged-in .pane-testimonial .views-field-edit-node {
  display: none;
}

