/*
 * Use 3 grid columns for smaller screens.
 */
$zen-column-count: 3;

.testimonial {
  background-color: $box-background;

  .testimonial-image {
    float: none;
    display: block;
    padding: 0;
    max-width: 100%;
    img {
      width: 100%
    }
  }
}

.section-testimonials #content {
  margin-top: 30px;
}

.node-type-testimonial {
  .masthead {
    top: 0;
  }

  .title {
    top: 0;
  }

  .field-name-field-testimonial-grad-year {
    margin-bottom: 0;
  }
}

.testimonial {
  padding: 0;

   .testimonial-image {
     float: left;
     margin-bottom: -5px;
   }
 }

.pane-testimonial, 
.pane-views-testimonial-block {
  background-color: $box-background;
  .pane-title {
    margin: 0;
  }
  .pane-content {
    margin: 0 10px 10px;
  }
  .view-content {
    .bqstart, .bqend {
      display: inline;
      @include font-myriadpro;
    }
  }
  .testimonial-title {
    line-height: 1em;
    margin: 0;
    padding-bottom: 2px;
  }
  .testimonial-body {
    @include font-myriadprocondensed;
    font-size: 20px;
    color: $body-text;
  }
  .views-field-edit-node {
    position: absolute;
    top: 0;
    right: 0;
    padding: 14px;
  }
  .testimonial-body .field-content {
    padding-right: 5px;
    font-size: 17px;
    @include font-myriadprocondensed_bold;
    line-height: 20px;
  }
  .testimonial-path a {
    color: $primary-nav;
    text-decoration: none;
    @include font-myriadpro_bold;
  }
  .views-field-nothing {
    clear: both;
  }
}

.pane-views-testimonial-block {
  .testimonial-title {
    padding: 0 15px 2px;
  }
  .views-field-body, 
  .views-field-path {
    padding: 0 15px;
  }
}

.not-logged-in .pane-views-testimonial-block .views-field-edit-node,
.not-logged-in .pane-testimonial .views-field-edit-node {
  display: none;
}

@media all and (min-width: 481px) { //HARD BREAK POINT
/*
 * Use 3 grid columns for smaller screens.
 */
  $zen-column-count: 3;
}

@media all and (min-width: 651px) { //HARD BREAK POINT
/*
 * Use 5 grid columns for smaller screens.
 */
  $zen-column-count: 5;

  .testimonial {
    background-color: $box-background;

    .testimonial-image {
      max-width: 325px;
      padding-right: 15px;
    }
  }

  .pane-testimonial, 
  .pane-views-testimonial-block {
    .pane-content {
      margin: 0 10px 0 0;
    }
  }

}

@media all and (min-width: 960px) { //HARD BREAK POINT
/*
 * Use 12 grid columns for larger screens.
 */
  $zen-column-count: 12;

  .testimonial .testimonial-image {
    max-width: 325px;
  }

  .pane-testimonial, 
  .pane-views-testimonial-block {
    .pane-content {
      margin: 0 10px 0 0;
    }
  }
}
