@media all and (max-width: 650px) {
  /*
   * Use 3 grid columns for smaller screens.
   */
  $zen-column-count: 3;
}

@media all and (min-width: 651px) and (max-width: 959px) {
  /*
   * Use 5 grid columns for smaller screens.
   */
  $zen-column-count: 5;
}

@media all and (min-width: 960px) {
  /*
   * Use 12 grid columns for larger screens.
   */
  $zen-column-count: 12;
}

.node-type-testimonial .field-name-body {
    background-color: #F7F4DE;
    padding: 0;

    p {
      margin: 1em 30px;
      @include font-myriadpro;
      color: #575757;
      line-height: 18px;
    }
  }

