.testimonial-block {
  padding: 0;

  .bqstart, .bqend {
    display: inline;
    @include font-myriadpro;
  }

  .testimonial-block__title {
    line-height: 1em;
    margin: 0;
    padding: 5px 15px 2px;
  }

  .testimonial-block__body {
    @include font-myriadprocondensed;
    font-size: 20px;
    color: $body-text;
    padding: 0 15px;
  }

  .edit-link {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    font-size: 24px;
  }

  .testimonial-block__path {
    padding: 0 15px;
    
    a {
      color: $primary-nav;
      text-decoration: none;
      @include font-myriadpro_bold;
    }
  }

  .testimonial-block__image {
    float: left;
    display: block;
    padding: 0;
    max-width: 100%;
  }
}

.view-display-id-major_alumni img {
  float: left;
  margin-right: 10px;
}

.not-logged-in .pane-views-testimonial-block .views-field-edit-node,
.not-logged-in .pane-testimonial .views-field-edit-node {
  display: none;
}

@media all and (min-width: 481px) { //HARD BREAK POINT
/*
 * Use 3 grid columns for smaller screens.
 */
  $zen-column-count: 3;
}

@media all and (min-width: 651px) { //HARD BREAK POINT
/*
 * Use 5 grid columns for smaller screens.
 */
  $zen-column-count: 5;

  .testimonial-block {

    .testimonial-block__image {
      max-width: 325px;
      padding-right: 15px;
    }
  }
}

@media all and (min-width: 960px) { //HARD BREAK POINT
/*
 * Use 12 grid columns for larger screens.
 */
  $zen-column-count: 12;
}
