.testimonial {
  padding: 0;

   .testimonial-image {
     float: left;
     padding-right: 10px;
     margin-bottom: -5px;
   }
 }

.pane-testimonial, 
.pane-views-testimonial-block {
  background-color: #F7F4DE;
  .pane-title {
    margin: 0;
  }
  .pane-content {
    margin: 0 10px 10px;
  }
  .view-content {
    .bqstart, .bqend {
      display: inline;
      @include font-myriadpro;
    }
  }
  .testimonial-title {
    line-height: 1em;
    margin: 0;
    padding-bottom: 2px;
  }
  .testimonial-body {
    @include font-myriadprocondensed;
    font-size: 20px;
    color: #575757;
  }
  .views-field-edit-node {
    position: absolute;
    top: 0;
    right: 0;
    padding: 14px;
  }
  .testimonial-body .field-content {
    padding-right: 5px;
    font-size: 17px;
    @include font-myriadprocondensed_bold;
    line-height: 20px;
  }
  .testimonial-path a {
    color: #007161;
    text-decoration: none;
    @include font-myriadpro_bold;
  }
  .views-field-nothing {
    clear: both;
  }
}

.not-logged-in .pane-views-testimonial-block .views-field-edit-node,
.not-logged-in .pane-testimonial .views-field-edit-node {
  display: none;
}

@media all and (max-width: 650px) {
/*
 * Use 3 grid columns for smaller screens.
 */
  $zen-column-count: 3;

  .testimonial {
    background-color: #F7F4DE;

    .testimonial-image {
      float: none;
      display: block;
      padding: 0;
      max-width: 100%;
			img {
			  width: 100%
			}
    }
  }

  .html.section-testimonials #content {
    margin-top: 30px;
  }

  .html.node-type-testimonial .masthead {
    top: 0;
  }

  .html.node-type-testimonial .title {
    top: 0;
  }

  .html.node-type-testimonial .field-name-field-testimonial-grad-year {
    margin-bottom: 0;
  }

}

@media all and (min-width: 651px) and (max-width: 959px) {
/*
 * Use 5 grid columns for smaller screens.
 */
  $zen-column-count: 5;

  .testimonial {
    @include zen-grid-item(5, 1);
    @include zen-clear();
    background-color: #F7F4DE;
    margin-top: 25px;

    .testimonial-image {
      max-width: 325px;
    }
  }

  .pane-testimonial, 
  .pane-views-testimonial-block {
    .pane-content {
      margin: 0 10px 0 0;
    }
  }

}

@media all and (min-width: 960px) {
/*
 * Use 12 grid columns for larger screens.
 */
  $zen-column-count: 12;

  .testimonial .testimonial-image {
    max-width: 325px;
  }

  .pane-testimonial, 
  .pane-views-testimonial-block {
    .pane-content {
      margin: 0 10px 0 0;
    }
  }
}
