/*
 * Use 1 grid columns for smaller screens.
 * All generic code goes here.
 */
 $zen-column-count: 3;
  
.node-type-testimonial .field-name-body {
  background-color: $box-background;
  padding: 0;

  p {
    margin: 1em 30px;
    @include font-myriadpro;
    color: $body-text;
    line-height: 18px;
  }
}

@media all and (min-width: 481px) { //HARD BREAKPOINT
  /*
   * Use 3 grid columns for smaller screens.
   */
  $zen-column-count: 3;
}

@media all and (min-width: 651px) { //HARD BREAKPOINT
  /*
   * Use 5 grid columns for smaller screens.
   */
  $zen-column-count: 5;
}

@media all and (min-width: 960px) { //HARD BREAKPOINT
  /*
   * Use 12 grid columns for larger screens.
   */
  $zen-column-count: 12;
}

