/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */

@import "base";


/* Fonts */
$font-copperplate: "Copperplate Gothic Bold", "Copperplate Gothic Light", Copperplate, "kelvingrove-1", "kelvingrove-2", serif;

@mixin font-copperplate {
  font-family: $font-copperplate;
  font-weight: 400;
  font-style: normal;
}

// We are going to create a 980px wide, 5 column grid with 20px gutters between
// columns (applied as 10px of left/right padding on each column).
$zen-column-count:  5;
$zen-gutter-width:  20px;


// IE6-7 don't support box-sizing: border-box. We can fix this in 1 of 3 ways:
// - Drop support for IE 6/7. :-) In the _base.scss, set $legacy-support-for-ie6
//   and $legacy-support-for-ie7 to false.  // - (Preferred) Install the box-sizing polyfill and set the variable below to
//   the absolute path URL to the boxsizing.htc file.
//   @see https://github.com/Schepp/box-sizing-polyfill
//   $box-sizing-polyfill-path: "/path/to/boxsizing.htc";
// - Use the same CSS unit for grid width and gutter width (use px for both or
//   use % for both, etc.) and set the box-sizing variable to content-box.
//   $zen-box-sizing: content-box;


// You can generate more efficient CSS if you manually apply the
// zen-grid-item-base mixin to all grid items from within a single ruleset.
$zen-auto-include-item-base: false;
// $zen-auto-include-flow-item-base: false;


/*
 * Center the page.
 */

#page,
.region-bottom {
  /* For screen sizes larger than 1200px, prevent excessively long lines of text
     by setting a max-width. */
  margin-left: auto;
  margin-right: auto;
  max-width: 622px;
  //max-width: 1024px;
}

// comment this out in dev for size fix
.l-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
}

#navigation {
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
}


/*
 * Apply the shared properties of grid items in a single, efficient ruleset.
 */
// See the note about $zen-auto-include-item-base above.

#header,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer {
  @include zen-grid-item-base();
}

/*
 * Containers for grid items and flow items.
 */

#header,
#main,
#footer {
  @include zen-grid-container();
}

@media all and (max-width: 480px) {
  .html .pane-views-featured-news-block .views-field-title {
    @include zen-clear();
    height: auto;
    margin: 10px -5px;
    padding: 0;
    display: block;
    width: 100%;
  }
}

@media all and (max-width: 650px) {
  /*
   * Use 3 grid columns for smaller screens.
   */
  $zen-column-count: 3;

  html.wf-active {
    background: url('');
    background-color: #083228;
  }

  .html nav#main-menu[role="navigation"] {
    margin-bottom: -75px;

    h2 {
      display: none;
    }

    ul {
      display: none;
      height: 100%;
    }

    label {
      @include background-image(linear-gradient(#015B4A, #004538 90%));
      @include font-copperplate;
      font-size: 24px;
      color: #e5dea8;
      background-color: blue;
      position: relative;
      display: block;
      height: 25px;
      margin: 0 0 25px 0;
      padding: 2px;
      width: 98%;
    }

    label:after {
        position: absolute;
        //content: "\2261";
        content: "Menu";
    }

    input:checked ~ ul {
      display: block;

      > li {
        width: 100%;

        &.last {
          width: 60%;
          margin-bottom: 35px;
        }
      }
    }
  }

  .html #logo {
    @include zen-grid-item(1, 1.1);
    padding: 5px 0;
    border-right: none;
  }

  .html .block-search {
    @include zen-grid-item(1, 2.62);
    padding: 5px 0;
    margin-bottom: 0;
    margin-top: -35px;
    height: 25px;

    .custom-search-box {
      width: 100%;
      margin-left: 0;
    }

    .form-submit {
      position: relative;
      top: -37px;
      right: -100%;
      margin-bottom: -18px;
      margin: 12px;
      padding: 0;
    }
  }

  .html #secondary-menu {
    @include zen-grid-item(2.9, 1.1);
    @include zen-clear();

    ul {
      padding: 0;
      margin: 0;

      li {
        border: none;
        padding: 5px 10px 5px 0;
      }
    }
  }

  .html #navigation {
    margin-top: 15px;
  }

  .html .mission-statement {
    margin-bottom: -5px;
    margin-top: 60px;
  }

  .html .pane-views-viewbook-block {
    @include zen-grid-item(3,1);
    @include zen-clear();

    .views-field-body {
      padding-top: 30px;
    }

    .flex-control-nav {
      top: -70px;
      left: -5px;
    }

    .views-field-body .field-content {
      @include zen-grid-item(2.97, 1.13);
    }

    span.views-label {
      display: none;
    }
  }

  .html .pane-mission-respondable-front-buttons-front-buttons {
    @include zen-grid-item(3, 1);
    @include zen-clear();
    margin-bottom: 15px;

    .button-link {
      @include zen-grid-item(3, 1);
      @include zen-clear();
      margin-bottom: 10px;

      &:hover {
        @include zen-grid-item(3, 1);
      }
    }
  }

  .html .pane-views-testimonial-block {
    @include zen-grid-item(3, 1);
    @include zen-clear();
    margin-bottom: 25px;

    .views-field-title,
    .views-field-body,
    .views-field-path {
      @include zen-grid-item(3, 1);
      @include zen-clear();
    }

    .views-field-field-testimonial-image {
      margin: 0 auto;
      text-align: center;
    }

    .views-field-title {
      margin-top: 0;

      a {
        padding-left: 25px;
      }
    }

    .views-field-body .field-content {
      padding-left: 25px;
    }

    .views-field-path {
      margin-top: 0;

      a {
        padding-left: 25px;
      }
    }
  }

  .html .pane-views-featured-news-block {
    @include zen-grid-item(3, 1);
    @include zen-clear();

    li {
      @include zen-clear();
      padding: 0;
    }

    .pane-title {
      margin-top: 0;
    }

    .views-field-field-news-image {
      margin-bottom: 20px;
    }


  }

  .html .icon-coplac_logo {
    display: block;
    margin-left: 0;
  }

  .html .icon-waht_will_they_learn_logo {
    display: block;
  }

  .html .block-mission-respondable-footer p {
    @include zen-grid-item(3, 1);
    margin: 0;
  }

  .html #block-mission-respondable-footer-footer-contact {
    @include zen-grid-item(3, 1);
    @include zen-clear();
    background: none;
    height: auto;
    margin: 0;
  }

  .html #block-menu-menu-footer-navigation {
    @include zen-grid-item(3, 1);
    @include zen-clear();
    margin-top:0;
    line-height: 12px;

    ul, .menu {
      margin: 0;
      padding: 0;
    }

    .last {
      padding-top: 5px;
    }
  }

  .html.node-type-news #content {
    margin-top: 65px;
  }

  .html.node-type-news .masthead {
    top: 0;
  }

  .html.node-type-news .field-name-field-news-published {
    margin-bottom: 0;
  }

  .html.section-news .news {
   @include zen-grid-item(3, 1);
   @include zen-clear();
   margin-bottom: 25px;
   margin-top: 25px;
 }

 .html.section-news .headlines {
   @include zen-grid-item(3, 1);
   @include zen-clear();
 }

 .html.section-news .top-news {
   @include zen-grid-item(3, 1);
   @include zen-clear();
   margin-top: 25px;
 }

 .html.section-news .latest-news {
   @include zen-grid-item(3, 1);
   @include zen-clear();
   margin-bottom: 25px;
 }

 .html.section-news .views-field-field-news-image {
   text-align: center;
   display: block;
 }
}


@media all and (min-width: 651px) and (max-width: 959px) {
  /*
   * Use 5 grid columns for smaller screens.
   */
  $zen-column-count: 5;

  html.wf-active {
    background: url("../../images/pretties.png") no-repeat scroll center 40px #083228;
  }


  .html #logo {
    @include zen-grid-item(.8, 1);
    border: none;
  }

  .html .block-search {
    @include zen-grid-item(1, 4);
    padding: 5px 0;
    margin-bottom: 0;
    margin-top: -35px;
    height: 25px;


    .custom-search-box {
      width: 100%;
      margin-left: 0;
    }

    .form-submit {
      position: relative;
      top: -37px;
      right: -100%;
      margin-bottom: -18px;
      margin: 12px;
      padding: 0;
    }
  }

  .html #secondary-menu {
    @include zen-grid-item(4, 1);
    @include zen-clear();

    li {
      padding: 5px 2.8%;
    }

    li.last {
      border: none;
    }
  }

  .html .pane-views-viewbook-block {
    @include zen-grid-item(5,1);
    @include zen-clear();

    .views-field-body .field-content {
      @include zen-grid-item(2.8, 3.2);
    }

  }

  .html .pane-mission-respondable-front-buttons-front-buttons {
    @include zen-grid-item(5, 1);
    @include zen-clear();

    .button-link {
      @include zen-grid-item(1.6, 2.7);

      &.first {
        @include zen-grid-item(1.6, 1);
          &:hover {
            @include zen-grid-item(1.6, 1);
          }
      }

      &.last {
        @include zen-grid-item(1.6, 4.4);
          &:hover {
            @include zen-grid-item(1.6, 4.4);
          }
      }

      &:hover {
        @include zen-grid-item(1.6, 2.7);
      }
    }
  }

  .html .pane-views-testimonial-block {
    @include zen-grid-item(5, 1);
    @include zen-clear();
    background-color: #F7F4DE;
    margin-top: 25px;

    .views-field-field-testimonial-image {
      @include zen-grid-item(3, 1);
      line-height: 0;
      margin-bottom: 0;
      margin-top: -1px;
    }

    .views-field-title,
    .views-field-body,
    .views-field-path {
      @include zen-grid-item(2, 4);
      @include zen-clear();
    }

    .views-field-path {
      margin-bottom: 3.1%;
    }
  }

  .html .pane-views-featured-news-block {
    @include zen-grid-item(5, 1);
    @include zen-clear();
    margin-top: 25px;

    .views-field-field-news-image {
      padding-bottom: 15px;
    }
  }

  .html .block-mission-respondable-footer p {
  }

  .html #block-mission-respondable-footer-footer-contact {
    @include zen-grid-item(5, 1);
    @include zen-clear();
  }

  .html #block-menu-menu-footer-navigation {
    @include zen-grid-item(5, .77);
    @include zen-clear();
    margin-top: -115px;
  }

 .html.section-news .top {
   @include zen-grid-item(3.2, 1, right);
 }

 .html.section-news .middle {
   @include zen-grid-item(2, 1, left);
 }

   /*
   * The layout when there are two sidebars.
   */

  .two-sidebars {
    #content { /* Span 2 columns, starting in 2nd column from left. */
      @include zen-grid-item(2, 2);
    }

    .region-sidebar-first { /* Span 1 column, starting in 1st column from left. */
      @include zen-grid-item(1, 1);
    }

    .region-sidebar-second { /* Start a new row and span all 3 columns. */
      @include zen-grid-item(3, 1);
      @include zen-nested-container(); // Since we're making every block in this region be a grid item.
      @include zen-clear();

      .block {
        @include zen-grid-item-base();
      }
      .block:nth-child(3n+1) { /* Span 1 column, starting in the 1st column from left. */
        @include zen-grid-item(1, 1);
        @include zen-clear();
      }
      .block:nth-child(3n+2) { /* Span 1 column, starting in the 2nd column from left. */
        @include zen-grid-item(1, 2);
      }
      .block:nth-child(3n) { /* Span 1 column, starting in the 3rd column from left. */
        @include zen-grid-item(1, 3);
      }
    }
  }
}

@media all and (min-width: 960px) {
  /*
   * Use 5 grid columns for larger screens.
   */
  $zen-column-count: 12;

    .html #logo {
    @include zen-grid-item(2, 1);
    border: none;
  }

  .html .block-search {
    @include zen-grid-item(2, 9);
    padding: 5px 0;
    margin-bottom: 0;
    height: 25px;

    .custom-search-box {
      width: 100%;
      margin-left: 0;
    }

    .form-submit {
      position: relative;
      top: -37px;
      right: -100%;
      margin-bottom: -18px;
      margin: 12px;
      padding: 0;
    }
  }

  .html #secondary-menu {
    @include zen-grid-item(7, 2.5);

    li {
      padding: 5px 2.8%;
    }

    li.last {
      border: none;
    }
  }

  .html .pane-views-viewbook-block {
    @include zen-grid-item(12,1);
    @include zen-clear();

    .views-field-body .field-content {
      @include zen-grid-item(7.5 , 4.8);
    }

  }

  .html .pane-mission-respondable-front-buttons-front-buttons {
    @include zen-grid-item(12, 1);
    @include zen-clear();

    .button-link {
      @include zen-grid-item(3.8, 5.1);

      &.first {
        @include zen-grid-item(3.8, 1);
          &:hover {
            @include zen-grid-item(3.8, 1);
          }
      }

      &.last {
        @include zen-grid-item(3.8, 9.2);
          &:hover {
            @include zen-grid-item(3.8, 9.2);
          }
      }

      &:hover {
        @include zen-grid-item(3.8, 5.1);
      }
    }
  }

  .html .pane-views-testimonial-block {
    @include zen-grid-item(12, 1);
    @include zen-clear();
    background-color: #F7F4DE;
    margin-top: 25px;

    .views-field-field-testimonial-image {
      @include zen-grid-item(7, 1);
      line-height: 0;
      margin-bottom: 0;
      margin-top: -1px;
    }

    .views-field-title,
    .views-field-body,
    .views-field-path {
      @include zen-grid-item(5, 8);
      @include zen-clear();
    }

    .views-field-path {
      margin-bottom: 3.1%;
    }
  }

  .html .pane-views-featured-news-block {
    @include zen-grid-item(12, 1);
    @include zen-clear();
    margin-top: 25px;

    .views-field-field-news-image {
      padding-bottom: 15px;
    }
  }

  .html .block-mission-respondable-footer p {
  }

  .html #block-mission-respondable-footer-footer-contact {
    @include zen-grid-item(12, 1);
    @include zen-clear();
  }

  .html #block-menu-menu-footer-navigation {
    @include zen-grid-item(12, .4);
    @include zen-clear();
    margin-top: -115px;
  }

 .html.section-news .top {
   @include zen-grid-item(7.7, 1, right);
 }

 .html.section-news .middle {
   @include zen-grid-item(2, 1, left);
 }

  /*
   * The layout when there is only one sidebar, the left one.
   */

  .sidebar-first {
    #content { /* Span 4 columns, starting in 2nd column from left. */
      @include zen-grid-item(4, 2);
    }

    .region-sidebar-first { /* Span 1 column, starting in 1st column from left. */
      @include zen-grid-item(1, 1);
    }
  }

  /*
   * The layout when there is only one sidebar, the right one.
   */

  .sidebar-second {
    #content { /* Span 4 columns, starting in 1st column from left. */
      @include zen-grid-item(4, 1);
    }

    .region-sidebar-second { /* Span 1 column, starting in 5th column from left. */
      @include zen-grid-item(1, 5);
    }
  }

  /*
   * The layout when there are two sidebars.
   */

  .two-sidebars {
    #content { /* Span 3 columns, starting in 2nd column from left. */
      @include zen-grid-item(3, 2);
    }

    .region-sidebar-first { /* Span 1 column, starting in 1st column from left. */
      @include zen-grid-item(1, 1);
    }

    .region-sidebar-second { /* Span 1 column, starting in 5th column from left. */
      @include zen-grid-item(1, 5);
    }
  }

}
